<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기사단 편성 작동</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">  
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/form_share.css" rel="stylesheet">
    <link href="/css/lv_badges.css" rel="stylesheet">
    <link href="/css/form_making.css" rel="stylesheet">
    <link href="/css/alert.css" rel="stylesheet">
    <link href="/css/hero_setting.css" rel="stylesheet">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    

    <div class="own-modal">    
        <div class="hero-setting bg-gray shadow-basic">
            <!-- 상단바 -->
            <div class="post-title title-size d-flex">
                <div class="bg-basicdark color-yellow title-sizing flex-fill d-flex align-items-center"><p>영웅 설정</p></div>
                <button type="button" class="x-btn bg-red btn-close-origin color-white" ><i class="fa-solid fa-xmark"></i></button>
            </div>

            <!-- 컨텐츠 -->
            <div class="setting-content d-flex">
                <div class="pe-4 right-line">
                    <div class="setting-charname d-flex align-items-center">
                        <img src="../sources/img/types/fire.png" class="setting-class-size">
                        <p class="ms-1">메이링</p>
                    </div>
                    <div class="setting-charimg mt-3" >
                        <img src="../sources/img/characters/fire_meiling_shooter.png">
                        <span class="lv_fire lv">70</span>
                        <span class="onegak gak">7</span>
                    </div>

                </div>
                <div class="ps-4 setting-form">
                    <form>
                        <div class="d-flex align-items-center mt-3">
                            <p class="lv">레벨</p>
                            <div class="btn-shadow lv-input ms-5">
                                <input type="input" class="btn-cut">
                            </div>
                        </div>
                        <div class="d-flex mt-3">
                            <p>초월</p>
                            <label class="charSetting-ele d-flex align-self-center me-3">  
                                <input type="radio" name="cho" class="charPublic-checkbox 5cho"><span class="checkbox-img"></span> <span class="ms-1">5</span> 
                            </label>
                            <label class="charSetting-ele d-flex align-self-center me-3">  
                                <input type="radio" name="cho" class="charPublic-checkbox 6cho"><span class="checkbox-img"></span> <span class="ms-1">6</span> 
                            </label>
                            <label class="charSetting-ele d-flex align-self-center">  
                                <input type="radio" name="cho" class="charPublic-checkbox 7cho"><span class="checkbox-img"></span> <span class="ms-1">7</span> 
                            </label>
                        </div>
                        
                        <div class="d-flex mt-3">
                            <p>각성</p>
                            <label class="charSetting-ele d-flex align-self-center">  
                                <input type="radio" name="gak" class="charPublic-checkbox nogak-radio"><span class="checkbox-img"></span> <img src="../sources/img/nogak.png" class="ms-1"> 
                            </label>
                            <label class="charSetting-ele d-flex align-self-center">  
                                <input type="radio" name="gak" class="charPublic-checkbox onegak-radio"><span class="checkbox-img"></span> <img src="../sources/img/1gak.png" class="ms-1"> 
                            </label>
                            <label class="charSetting-ele d-flex align-self-center"> 
                                <input type="radio" name="gak" class="charPublic-checkbox twogak-radio"><span class="checkbox-img"></span> <img src="../sources/img/2gak.png" class="ms-1"> 
                            </label>
                        </div>
                        
                        <!-- 하단 버튼들 -->
                        <div class="setting-btns d-flex">
                            <div class="btn-shadow ">
                                <input class="btn-cut basic-btn btn-yellow color-white setting-normal-submit" type="submit" value="적용">
                            </div>
                            <div class="btn-shadow ms-2 flex-fill">
                                <input class="btn-cut basic-btn btn-blue color-white setting-all-submit" type="submit" value="모든 캐릭터 적용">
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>        
        </div>
    </div>
    
    <%- include('nav_and_banner.ejs', {page: 'formmake', nickname: data.nickname, notice:'2025.08.01 신규 캐릭터 [물]라플라스 추가 완료'}) %> 


    <div class="share-card shadow-basic">
        <!-- 상단바 -->
        <div class="post-title title-size ">
            <!-- 편성 공유 / 편성 요청 / 편성 저장 / 편성 완료 -->
            <dix class="share-or-ask ">
                <button type="button" data-engname="save" class="share-or-ask-btn btn-purple title-sizing color-white border-0 d-flex align-items-center justify-content-center"><i class="fa-solid fa-angle-down"></i><p>&nbsp; 편성 저장</p></button>
                <div class="share-or-ask-menu">
                    <button data-engname="share" class="share-or-ask-btn btn-blue title-sizing color-white border-0 d-flex align-items-center justify-content-center form-stat-selected">편성 공유</button>
                    <button data-engname="request" class="share-or-ask-btn btn-yellow title-sizing color-white border-0 d-flex align-items-center justify-content-center">편성 요청</button>
                    <!-- <button class="share-or-ask-btn btn-purple title-sizing color-white border-0 d-flex align-items-center justify-content-center">편성 저장</button> -->
                    <button data-engname="end" class="share-or-ask-btn btn-green title-sizing color-white border-0 d-flex align-items-center justify-content-center">편성 완료</button>
                </div>
            </dix>

             <div class="content-name flex-fill">
                <button type="button"  class="content-name-btn btn-black  title-sizing color-yellow border-0 d-flex align-items-center">
                    <i class="fa-solid fa-angle-down"></i><p>&nbsp; <%= data.now_content.kor_name %></p>
                </button>
                <div class="content-name-menu">
                    <% for(let i=0; i<data.contents_list.length; i++){ %>
                    <% if(data.contents_list[i]['eng_name'] == "all"){ continue; } %>
                    <button class="content-name-btn btn-black flex-fill title-sizing color-white border-0 d-flex align-items-center" 
                    data-engname="<%= data.contents_list[i]['eng_name']%>">
                        <%= data.contents_list[i]['kor_name']%>
                    </button>
                    <% } %>
                </div>
             </div>
            <button type="button" class="bg-red btn-close-origin color-white" ><i class="fa-solid fa-xmark"></i></button>
        </div>

        <!-- 컨텐츠 -->
        <form action="" method="get" class="">
            <input value="save"  name="form_status" type="hidden" class="form-status-input"> 
            <input value="<%= data.now_content.eng_name %>"  name="content_name" type="hidden" class="content-name-input"> 


            <div class="d-flex justify-content-center">
            

                <!-- 왼쪽 -->
                <div class="left-box">
                    <!-- 작성자정보 -->
                    <div class="d-flex mg-10px " >
                        <% if(data.nickname){ %>
                        <p class="t-pd color-white bg-basicdark">작성자</p>
                        <p class="t-pd color-writer bg-basicdark"><%= data.nickname %></p>
                        <% } else{ %>
                        <p class="t-pd color-white bg-basicdark">비회원 작성중</p>
                        <!-- <p class="t-pd color-writer bg-basicdark"> </p> -->
                        <% } %>
                    </div>

                    <!-- 조합들 들어간 칸 -->
                    <div class="content-h d-flex justify-content-center align-items-center">
                        <% if(data.now_content.num_of_heroes == "5"){ %>
                        <div class="form-container d-flex flex-wrap justify-content-center c-wrapper width-5">
                            <% let i = 0 %>
                            <% for(; i<data.form_herolist_forrender.length && i<5; i++) { %>
                            <div class="character-5 form_spot">
                                <div class="select-liner ">
                                    <img src="/sources/img/characters/<%= data.form_herolist_forrender[i].eng_type %>_<%= data.form_herolist_forrender[i].eng_name %>_<%= data.form_herolist_forrender[i].eng_class %>.png" alt="" 
                                    data-id="<%= data.form_herolist_forrender[i]["ID"] %>" 
                                    onerror="this.onerror=null; this.src='/sources/img/1gak.png';">
                                    <input value="<%= data.form_herolist_forrender[i]["ID"] %>"  name="hero" type="hidden"> 
                                </div>
                            </div>
                            <% } %>
                            <% for(; i<5; i++) { %>
                            <div class="character-5 form_spot">
                                <div class="select-liner ">
                                    <div class="empty"><i class="fa-solid fa-plus color-gray"></i> </div>
                                    <input value="0"  name="hero" type="hidden"> 
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <% } else if(data.now_content.num_of_heroes == "7"){%>
                        <div class="form-container d-flex flex-wrap justify-content-center c-wrapper width-7">
                            <% let i = 0 %>
                            <% for(; i<data.form_herolist_forrender.length && i<3; i++) { %>
                                <div class="character-7 form_spot">
                                    <div class="select-liner ">
                                        <img src="/sources/img/characters/<%= data.form_herolist_forrender[i].eng_type %>_<%= data.form_herolist_forrender[i].eng_name %>_<%= data.form_herolist_forrender[i].eng_class %>.png" alt="" 
                                        data-id="<%= data.form_herolist_forrender[i]["ID"] %>" 
                                        onerror="this.onerror=null; this.src='/sources/img/1gak.png';">
                                        <input value="<%= data.form_herolist_forrender[i]["ID"] %>"  name="hero" type="hidden"> 
                                    </div>
                                </div>
                            <% } %>
                            <% for(;  i<3; i++) { %>
                            <div class="character-7 form_spot">
                                <div class="select-liner ">
                                    <div class="empty"><i class="fa-solid fa-plus color-gray"></i> </div>
                                    <input value="0"  name="hero" type="hidden"> 
                                </div>
                            </div>
                            <% } %>
                            <div class="change-line"></div>
                            <% for(; i<data.form_herolist_forrender.length && i<7; i++) { %>
                                <div class="character-7 form_spot">
                                    <div class="select-liner ">
                                        <img src="/sources/img/characters/<%= data.form_herolist_forrender[i].eng_type %>_<%= data.form_herolist_forrender[i].eng_name %>_<%= data.form_herolist_forrender[i].eng_class %>.png" alt="" 
                                        data-id="<%= data.form_herolist_forrender[i]["ID"] %>" 
                                        onerror="this.onerror=null; this.src='/sources/img/1gak.png';">
                                        <input value="<%= data.form_herolist_forrender[i]["ID"] %>"  name="hero" type="hidden"> 
                                    </div>
                                </div>
                            <% } %>
                            <% for(;  i<7; i++) { %>
                            <div class="character-7 form_spot">
                                <div class="select-liner ">
                                    <div class="empty"><i class="fa-solid fa-plus color-gray"></i> </div>
                                    <input value="0"  name="hero" type="hidden"> 
                                </div>
                            </div>
                            <% } %>
                            
                        </div>
                        <% } else { %>
                        <div class="form-container d-flex flex-wrap justify-content-center c-wrapper width-10">
                            <div class="party-name">첫 번째 파티</div>
                            <% let i = 0 %>
                            <% for(; i<data.form_herolist_forrender.length && i<5; i++) { %>
                                <div class="character-10 form_spot">
                                    <div class="select-liner ">
                                        <img src="/sources/img/characters/<%= data.form_herolist_forrender[i].eng_type %>_<%= data.form_herolist_forrender[i].eng_name %>_<%= data.form_herolist_forrender[i].eng_class %>.png" alt="" 
                                        data-id="<%= data.form_herolist_forrender[i]["ID"] %>" 
                                        onerror="this.onerror=null; this.src='/sources/img/1gak.png';">
                                        <input value="<%= data.form_herolist_forrender[i]["ID"] %>"  name="hero" type="hidden"> 
                                    </div>
                                </div>
                            <% } %>
                            <% for(; i<5; i++) { %>
                            <div class="character-10 form_spot">
                                <div class="select-liner ">
                                    <div class="empty"><i class="fa-solid fa-plus color-gray"></i> </div>
                                    <input value="0"  name="hero" type="hidden"> 
                                </div>
                            </div>
                            <% } %>
                            <div class="party-name">두 번째 파티</div>
                            <% for(; i<data.form_herolist_forrender.length && i<10; i++) { %>
                                <div class="character-10 form_spot">
                                    <div class="select-liner ">
                                        <img src="/sources/img/characters/<%= data.form_herolist_forrender[i].eng_type %>_<%= data.form_herolist_forrender[i].eng_name %>_<%= data.form_herolist_forrender[i].eng_class %>.png" alt="" 
                                        data-id="<%= data.form_herolist_forrender[i]["ID"] %>" 
                                        onerror="this.onerror=null; this.src='/sources/img/1gak.png';">
                                        <input value="<%= data.form_herolist_forrender[i]["ID"] %>"  name="hero" type="hidden"> 
                                    </div>
                                </div>
                            <% } %>
                            <% for(; i<10; i++) { %>
                            <div class="character-10 form_spot">
                                <div class="select-liner ">
                                    <div class="empty"><i class="fa-solid fa-plus color-gray"></i> </div>
                                    <input value="0"  name="hero" type="hidden"> 
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <% } %>

                                              

                    </div>

                    <!-- 하단 버튼 -->
                    <div class="charSetting-container d-flex justify-content-center align-self-center">
                        <!-- <form action=""> -->
                            <label class="charSetting-ele d-flex align-self-center"> 
                                <span class="me-2">나의 영웅들 공개하기</span> 
                                <input type="checkbox" name="character_public" class="charPublic-checkbox">
                                <span class="checkbox-img"></span>  
                            </label>
                        <!-- </form> -->
                        
                        <div style="width: 148.5px;">
                        <div class="btn-shadow">
                            <button type="button" class="charSetting-btn charSetting-ele  btn-cut btn-white">  영웅 설정 <i class="fa-solid fa-user-gear"></i> </button>
                        </div>
                        </div>
                    </div>
                </div>

                <!-- 오른쪽 : 작성자 한마디 + 좋아요 / 댓글 펼치기 -->
                <div class="right-box right-box-mg">
                    <h6 class="explain-title ">작성자 한마디</h6>
                    <div class="bg-white content-h mt-1 color-gray">
                        <textarea name="writer_memo" class="memo explain-content" placeholder="한마디를 적어주세요" ><%= data.writer_memo %></textarea>
                    </div>

                    <!-- 좋아요 / 댓글 펼치기 -->
                    <div class="mg-10px ms-0 me-0 d-flex flex-fill justify-content-evenly">
                        <div class="btn-shadow d-flex justify-content-start">
                            <button type="button" class="btn-cut bottom-btn btn-blue color-white">불러오기 </button>
                        </div>
                        <div class="btn-shadow d-flex justify-content-end">
                            <button type="submit" class="btn-cut bottom-btn btn-yellow color-white">저장/게시 </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>        
    </div>

    <!-- 캐릭터가 떠있는 창 -->
    <div class="characters-spread shadow-basic" >
        <!-- 정렬, 필터 / 마이페이지 편집 -->
        <div class="charSpread-top d-flex justify-content-between">
            <div class="char-filter">
                <button class="char-filter-btn charSpread-top-btn btn-white btn-cut"><i class="fa-solid fa-angle-down"></i>&nbsp; 영웅 필터</button>
                <!-- 정렬, 필터 버튼 누르면 나옴 -->
                <div class="char-filter-menu bg-lightgray d-flex justify-content-center align-items-top" style="visibility: hidden;">
                    <div class="filter-sort">
                        <button class="filter-btn filter-sort-btn filter-selected"><p>보유 영웅</p><p class="have-status">ON</p></button>
                        <button class="filter-btn filter-sort-btn filter-selected"><p>영웅 순</p><i class="fa-solid fa-caret-down"></i></button>
                        <% if(data.nickname){ %>
                        <button class="filter-btn filter-sort-btn filter-unselected"><p>등급 순</p><i class="fa-solid fa-caret-down"></i></button>
                        <% } %>
                    </div>
                    <form class="filter-class">
                        <label class=" filter-class-btn-container"><input type="checkbox" class="filter-checkbox"> <div class="filter-btn filter-class-btn filter-unselected"><img src="/sources/img/classes/guardian.png"><p>가디언</p> </div></label>
                        <label class=" filter-class-btn-container"><input type="checkbox" class="filter-checkbox"> <div class="filter-btn filter-class-btn filter-unselected"><img src="/sources/img/classes/warrior.png"><p>워리어</p> </div></label>
                        <label class=" filter-class-btn-container"><input type="checkbox" class="filter-checkbox"> <div class="filter-btn filter-class-btn filter-unselected"><img src="/sources/img/classes/striker.png"><p>스트라이커</p> </div></label>
                        <label class=" filter-class-btn-container"><input type="checkbox" class="filter-checkbox"> <div class="filter-btn filter-class-btn filter-unselected"><img src="/sources/img/classes/shooter.png"><p>슈터</p> </div></label>
                        <label class=" filter-class-btn-container"><input type="checkbox" class="filter-checkbox"> <div class="filter-btn filter-class-btn filter-unselected"><img src="/sources/img/classes/priest.png"><p>프리스트</p> </div></label>
                        <label class=" filter-class-btn-container"><input type="checkbox" class="filter-checkbox"> <div class="filter-btn filter-class-btn filter-unselected"><img src="/sources/img/classes/commander.png"><p>커맨더</p> </div></label>
                     </form>   
                    <form class="filter-type">
                        <label class="filter-type-btn-container"><input type="checkbox" class="filter-checkbox"> <div class="filter-btn filter-type-btn filter-unselected"><img src="/sources/img/types/dark_2.png"><p>어둠</p></div></label>
                        <label class="filter-type-btn-container"><input type="checkbox" class="filter-checkbox"> <div class="filter-btn filter-type-btn filter-unselected"><img src="/sources/img/types/fire_2.png"><p>불</p></div></label>
                        <label class="filter-type-btn-container"><input type="checkbox" class="filter-checkbox"> <div class="filter-btn filter-type-btn filter-unselected"><img src="/sources/img/types/water_2.png"><p>물</p></div></label>
                        <label class="filter-type-btn-container"><input type="checkbox" class="filter-checkbox"> <div class="filter-btn filter-type-btn filter-unselected"><img src="/sources/img/types/grass_2.png"><p>대지</p></div></label>
                        <label class="filter-type-btn-container"><input type="checkbox" class="filter-checkbox"> <div class="filter-btn filter-type-btn filter-unselected"><img src="/sources/img/types/light_2.png"><p>빛</p></div></label>
                    </form>
                </div>
            </div>
            <div class="filter-box-container d-flex justify-content-start flex-fill align-items-center ms-2 me-2">
                <div class="class-boxes d-flex justify-content-start align-items-center">
                </div>
                <div class="type-boxes d-flex justify-content-start align-items-center">
                </div>
            </div>
            <div>
                <button class="charSpread-top-btn btn-white btn-cut">마이페이지 편집</button>
            </div>
        </div>
        
        <!-- 캐릭터들 -->
        <div class="characters-container-box">
            <ul class="characters-container d-flex justify-content-start flex-wrap">
                <% for(let i=0; i<data.hero_list.length; i++){ %>
                    <li class="character-list-box select-liner d-flex justify-content-center">
                        <div class="character-list" >
                            <img src="/sources/img/characters/<%= data.hero_list[i].eng_type %>_<%= data.hero_list[i].eng_name %>_<%= data.hero_list[i].eng_class %>.png" 
                            alt="" data-id="<%= data.hero_list[i]["ID"] %>"
                            onerror="this.onerror=null; this.src='/sources/img/1gak.png';">

                        <% if(data.nickname){ %>
                            <span class="lv_<%=data.hero_list[i].eng_type%> lv">70</span>
                            <span class="nogak gak">7</span>
                        <% } %>
                        </div>
                    </li>
                <% } %>
            
            </ul>
        </div>
        
    </div>
    
    <script>
        window.onload = function(){
            let spot = $('.form_spot').eq(0)
            if(spot.find(".empty").length>0){
                spot.prepend("<div class='spot-selected-empty'></div>");
            }else {
                spot.prepend('<img src="../sources/img/out_char.png" class="out">');
                spot.prepend("<div class='spot-selected-full'></div>");                   
            }
        
        }
        let hero_list = '<%- JSON.stringify(data.hero_list) %>'; 
        hero_list = JSON.parse(hero_list);
    </script>

    <script src="/js/formmake/pickHeroes.js"></script>
    <script src="/js/formmake/dropdownSet.js"></script>
    <script src="/js/formmake/filterAndSort.js"></script>
    <script src="/js/formmake/heroSetting.js"></script>
    <script>
    
    

    /***
     * 빈 곳 클릭하면 칸 선택 해제
     ***/
    $(document).on('click', function(e){
        if(!$(e.target).closest(".share-or-ask-btn").length>0){
            $(".share-or-ask-menu").slideUp(150);
            $(".share-or-ask-menu").siblings("button").children("i").attr('class', "fa-solid fa-angle-down");
        }
        
        // 컨텐츠 이름 드롭다운 올라가게
        if(!$(e.target).closest(".content-name-btn").length>0){
            $(".content-name-menu").slideUp(150);
            $(".content-name-menu").siblings("button").children("i").attr('class', "fa-solid fa-angle-down");
        }

        // 영웅 필터 올라가게
        if(!$(e.target).closest(".char-filter-menu").length>0 && !$(e.target).closest(".char-filter-btn").length>0){
            $(".char-filter-menu").attr('style', 'visibility: hidden;');
            $(".char-filter-btn").children("i").attr('class', "fa-solid fa-angle-down");
        }

        // 모달 창 꺼지게
        if($(e.target).closest(".own-modal").length>0
            && !$(e.target).closest(".hero-setting").length>0){
            e.stopPropagation();
            $('.own-modal').fadeOut();
            $('.hero-setting').fadeOut();
        }
    });
    
    /**
     * 한마디 변경 시 링크에 삽입
     */
    $(".explain-content").on("propertychange change keyup paste input", function() {
        const url = new URL(window.location.href);
        url.searchParams.set("writer_memo", $(this).val());
        window.history.pushState(null, '', url.toString());
    })
    
    
    </script>

</body>
</html>