<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기사단 편성</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">  
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/lv_badges.css" rel="stylesheet">
    <link href="/css/form_making.css" rel="stylesheet">
    <link href="/css/hero_setting.css" rel="stylesheet">
</head>
<body>

    <%- include('nav_and_banner.ejs', {page: 'formmake', nickname: data.nickname, notice:'2025.08.01 신규 캐릭터 [물]라플라스 추가 완료'}) %> 
    

    <!-- 영웅 설정 모달 -->
    <div class="hero-setting-container">
        <div class="hero-setting shadow-basic bg-gray ">
            <!-- 상단바 -->
            <div class="post-title d-flex">
                <div class="bg-basicdark color-yellow flex-fill d-flex align-items-center">
                    <h5>영웅 설정</h5>
                </div>
                <button type="button" class="close btn-red color-white" ><i class="fa-solid fa-xmark"></i></button>
            </div>

            <!-- 컨텐츠 -->
            <div class="setting-content bg-gray d-flex justify-content-center">
                <div class="setting-charinfo pe-4  d-flex justify-content-center ">
                    <div>
                    <div class="setting-charname d-flex align-items-center mt-3">
                        <img src="../sources/img/types/fire.png" class=" setting-class-size">
                        <p class="ms-1">메이링</p>
                    </div>
                    <div class="setting-charimg mt-3" >
                        <img src="../sources/img/characters/fire_meiling_shooter.png">
                        <span class="lv_fire lv">70</span>
                        <span class="onegak gak">7</span>
                    </div>
                    </div>
                </div>
                <div class="right-line"></div>
                <div class="setting-form d-flex justify-content-center">
                    <!-- <p class="herosetting-placeholder">설정할 영웅을 선택하세요</p> -->
                    <form class="" method="post" action="/mypage/myhero/normalsave">
                        <input type="hidden" name="hero">
                        <div class=" d-flex align-items-center mt-3">
                            <p class="me-5">레벨</p>
                            <div class="btn-shadow  lv-input input-w">
                                <input type="input" name="lv" class="btn-cut ">
                            </div>
                        </div>
                        <div class="d-flex  mt-3">
                            <p class="me-5">초월</p>
                            <div class="d-flex flex-fill justify-content-between input-w">
                                <label class="charSetting-ele d-flex align-self-center ">  
                                    <input type="radio" name="cho" value="5" class="charPublic-checkbox 5cho"><span class="checkbox-img"></span> <span class="ms-2">5</span> 
                                </label>
                                <label class="charSetting-ele d-flex align-self-center ">  
                                    <input type="radio" name="cho" value="6" class="charPublic-checkbox 6cho"><span class="checkbox-img"></span> <span class="ms-2">6</span> 
                                </label>
                                <label class="charSetting-ele d-flex align-self-center">  
                                    <input type="radio" name="cho" value="7" class="charPublic-checkbox 7cho"><span class="checkbox-img"></span> <span class="ms-2">7</span> 
                                </label>
                            </div>
                            
                        </div>
                        
                        <div class="d-flex mt-3">
                            <p class="me-5">각성</p>
                            <div class="d-flex justify-content-between input-w">
                            
                                <label class="charSetting-ele d-flex align-self-center">  
                                    <input type="radio" name="gak" value="0" class="charPublic-checkbox nogak-radio"><span class="checkbox-img"></span> <img src="../sources/img/nogak.png" class="ms-1"> 
                                </label>
                                <label class="charSetting-ele d-flex align-self-center">  
                                    <input type="radio" name="gak" value="1" class="charPublic-checkbox onegak-radio"><span class="checkbox-img"></span> <img src="../sources/img/1gak.png" class="ms-1"> 
                                </label>
                                <label class="charSetting-ele d-flex align-self-center"> 
                                    <input type="radio" name="gak" value="2" class="charPublic-checkbox twogak-radio"><span class="checkbox-img"></span> <img src="../sources/img/2gak.png" class="ms-1"> 
                                </label>
                            </div>
                            
                        </div>
                        
                        <!-- 하단 버튼들 -->
                        <div class="setting-btns d-flex justify-content-end">
                            <div class="btn-shadow ">
                                <input class="btn-cut basic-btn btn-yellow color-white setting-normal-submit" type="submit" value="적용" >
                            </div>
                            <div class="btn-shadow ms-2 all-submit">
                                <input class="btn-cut basic-btn btn-blue color-white setting-all-submit" type="submit" value="모든 캐릭터 적용" >
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>        
        </div>
    </div>

    <div class="formmake-topcontainer d-flex flex-wrap">
    <!-- 편성 조합 -->
        <div class="form-container shadow-basic">
            <!-- 상단바 -->
            <div class="form-title ">
                <dix class="form-status ">
                    <button type="button " class="btn-blue color-white border-0 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-angle-down"></i><p>편성 공유</p>
                    </button>

                    <ul>
                        <li class="btn-yellow color-white">편성 요청</li>
                    </ul>
                    
                </dix>

                <div class="content-name flex-fill">
                    <button type="button"  class="btn-black  color-yellow border-0 d-flex align-items-center">
                        <i class="fa-solid fa-angle-down"></i><p><%= data.now_content.kor_name %></p>
                    </button>

                    <ul>
                        <% for(let i=0; i<data.contents_list.length; i++){ %>
                            <% if(data.contents_list[i]['eng_name'] == "all"){ continue; } %>
                            <li class="btn-black color-white" 
                            data-engname="<%= data.contents_list[i]['eng_name']%>" data-heronum="<%= data.contents_list[i]['num_of_heroes']%>">
                                <%= data.contents_list[i]['kor_name']%>
                            </li>
                        <% } %>
                    </ul>

                </div>
            </div>

            <!-- 아래 컨텐츠 -->
            <div class="d-flex contents">
                
                <!-- 왼쪽 -->
                <div class="left-box">
                    <div class="d-flex align-items-end">
                        <div class="form-author bg-basicdark color-white">
                            작성자 <span class="color-purple">여덟글자정도어때</span>
                        </div>
                    </div>
                    

                    
                    <form class="form-border-container d-flex align-items-center flex-wrap">
                        <input type="hidden" name="form_status" id="" value="">
                        <input type="hidden" name="content_name" id="" value="">
                        <h5 class="w-100">1 부대</h5>
                        <div class="form-char-container w-100 d-flex flex-wrap justify-content-center ">
                            <% for(let i=0; i<5; i++){ %>
                            <div class="character-10 form_spot">
                                <div class="select-liner">
                                    <div class="empty"><i class="fa-solid fa-plus color-gray"></i> </div>
                                    <input value="0"  name="hero" type="hidden"> 
                                </div>
                            </div>
                            <% } %>
                            <!-- <div class="character-10 form_spot">
                                <div class='spot-selected-full'></div>
                                <img src="../sources/img/out_char.png" alt="" class="out">                           
                                <div class="select-liner ">
                                    <img src="../sources/img/characters/dark_charlotte_warrior.png" >

                                    <span class="lv_dark lv">70</span>
                                    <span class="twogak gak">
                                            7
                                    </span>
                                </div>
                            </div> -->
                        </div>

                        <h5 class="w-100">2 부대</h5>
                        <div class="form-char-container w-100 d-flex flex-wrap justify-content-center ">
                            <% for(let i=0; i<5; i++){ %>
                            <div class="character-10 form_spot">
                                <div class="select-liner">
                                    <div class="empty"><i class="fa-solid fa-plus color-gray"></i> </div>
                                    <input value="0"  name="hero" type="hidden"> 
                                </div>
                            </div>
                            <% } %>
                            
                        </div>

                        <input type="hidden" name="myhero-public" value="false">
                    </form>
                    

                    <div class="left-box-bottom d-flex justify-content-start align-items-center">
                        <label class="charSetting-ele d-flex ">
                            <span class="me-2">나의 영웅들 공개하기</span>
                            <input type="checkbox" name="character_public" class="charPublic-checkbox">
                            <span class="checkbox-img"></span>  
                        </label>
                        <div class="btn-shadow">
                            <button class="charSetting-btn  btn-cut btn-white">
                                영웅 설정 <i class="fa-solid fa-user-gear"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- 오른쪽 -->
                <div class="right-box">
                    <h6 class="explain-title d-flex align-items-end">작성자 한마디</h6>
                    <div class="bg-white memo-container color-gray">
                        <p class="cnt-text"><span>345</span> / 1000</p>
                        <textarea class="memo explain-content" placeholder="한마디를 적어주세요" ></textarea>
                    </div>

                    <!-- 좋아요 / 댓글 펼치기 -->
                    <div class="btns mg-10px ms-0 me-0 d-flex flex-fill justify-content-between">
                        <div class="btn-shadow d-flex justify-content-between w-100">
                            <button class="btn-cut bottom-btn btn-blue color-white">불러오기 </button>
                            <button class="btn-cut bottom-btn btn-yellow color-white">저장/게시 </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    



    <div class="filter-and-heroes shadow-filter-basic">
        <!-- 영웅 필터 -->
        <div class="hero-filter bg-basicdark ">
            <button class="filterreset btn-red btn-cut color-white">
                필터 초기화 <i class="fa-solid fa-rotate-right"></i> 
            </button>
            <h5>영웅 필터</h5>
            <div class="hero-namesearch">
                <h5>영웅 이름 검색</h5>
                <input type="text" name="hero_name_search" id="" class="hero-name-search color-black bg-lightgray">
                <i class="fa-solid fa-magnifying-glass color-black"></i>
            </div>
            <div class="havinghero-check">
                <h6>
                    <label class=" d-flex align-self-center"> 
                        <span class="me-2 color-white">보유 영웅만 보이기</span> 
                        <input type="checkbox" name="character_public" class="charPublic-checkbox">
                        <span class="checkbox-img"></span>  
                    </label>
                </h6>
            </div>
            <div class="sort-container">
                <h5>영웅 정렬</h5>
                <div class="sort-badges d-flex justify-content-between">
                    <div class="filter-selected">영웅 순 <i class="fa-solid fa-caret-down"></i></div>
                    <div class="filter-unselected">등급 순 <i class="fa-solid fa-caret-down"></i></div>
                </div>
            </div>
            <div class="type-container">
                <h5>속성</h5>
                <div class="typeselecter d-flex ">
                    <img src="../sources/img/types/dark.png" alt="" class="inactive">
                    <img src="../sources/img/types/fire.png" alt="" class="inactive">
                    <img src="../sources/img/types/water.png" class="inactive" alt="" >
                    <img src="../sources/img/types/grass.png" class="" alt="">
                    <img src="../sources/img/types/light.png" class="" alt="">
                </div>
            </div>
            <div class="class-container">
                <h5>클래스</h5>
                <div class="class-badges">
                    <div class="filter-unselected">
                        <img src="../sources/img/classes/guardian.png"><p class="flex-fill">가디언</p> 
                    </div>
                    <div class="filter-unselected">
                        <img src="../sources/img/classes/shooter.png"><p class="flex-fill">슈터</p> 
                    </div>
                    <div class="filter-unselected">
                        <img src="../sources/img/classes/warrior.png"><p class="flex-fill">워리어</p> 
                    </div>
                    <div class="filter-selected">
                        <img src="../sources/img/classes/priest.png"><p class="flex-fill">프리스트</p> 
                    </div>
                    <div class="filter-selected">
                        <img src="../sources/img/classes/striker.png"><p class="flex-fill">스트라이커</p> 
                    </div>
                    <div class="filter-unselected">
                        <img src="../sources/img/classes/commander.png"><p class="flex-fill">커맨더</p> 
                    </div>

                </div>
            </div>

        </div>

        <!-- 영웅들 늘어진 칸 -->
        <div class="heroes-speread flex-fill bg-basicdark shadow-basic">
            <div class="mypage_link btn-shadow text-start">
                <a href="/mypage/myhero" class=" btn-cut btn-blue color-white">마이페이지 편집</a>
            </div>
            <div class="heroes-spread-container  w-100">
            <!-- <div class="hero-spread-container d-flex flex-wrap justify-content-start w-100"> -->
                <% for(let i=0; i<data.hero_list.length; i++){ %>
                    <div class="character-list-box select-liner ">
                        <div class="character-list" >
                            <% if(data.nickname && data.having_heroes_id.includes(data.hero_list[i]["ID"])){ %>
                            <img src="/sources/img/characters/<%= data.hero_list[i].eng_type %>_<%= data.hero_list[i].eng_name %>_<%= data.hero_list[i].eng_class %>.png" 
                            alt="" data-id="<%= data.hero_list[i]["ID"] %>" data-korname="<%= data.hero_list[i].kor_name %>" data-type="<%=data.hero_list[i].eng_type%>"
                            onerror="this.onerror=null; this.src='/sources/img/characters/Chr_Error.png';">

                            <span class="lv_<%=data.hero_list[i].eng_type%> lv"><%=data.having_heroes[data.having_heroes_id.indexOf(data.hero_list[i]["ID"])].lv %></span>
                                <% if(data.having_heroes[data.having_heroes_id.indexOf(data.hero_list[i]["ID"])].gak == 0){ %>
                                <span class="nogak gak">
                                <% } else if(data.having_heroes[data.having_heroes_id.indexOf(data.hero_list[i]["ID"])].gak == 1){ %>
                                <span class="onegak gak">
                                <% } else if(data.having_heroes[data.having_heroes_id.indexOf(data.hero_list[i]["ID"])].gak == 2){ %>
                                <span class="twogak gak">
                                <% } %>

                                    <%=data.having_heroes[data.having_heroes_id.indexOf(data.hero_list[i]["ID"])].cho %>
                                </span>
                            <% } else if (data.nickname){ %>
                            <img src="/sources/img/characters/<%= data.hero_list[i].eng_type %>_<%= data.hero_list[i].eng_name %>_<%= data.hero_list[i].eng_class %>.png" 
                            alt="" data-id="<%= data.hero_list[i]["ID"] %>" data-korname="<%= data.hero_list[i].kor_name %>" data-type="<%=data.hero_list[i].eng_type%>"
                            onerror="this.onerror=null; this.src='/sources/img/characters/Chr_Error.png';" class="nothave">

                            <span class="lv_<%=data.hero_list[i].eng_type%> lv">0</span>
                            <span class="nogak gak">0</span>
                            <% } else { %>
                            <img src="/sources/img/characters/<%= data.hero_list[i].eng_type %>_<%= data.hero_list[i].eng_name %>_<%= data.hero_list[i].eng_class %>.png" 
                            alt="" data-id="<%= data.hero_list[i]["ID"] %>" data-korname="<%= data.hero_list[i].kor_name %>" data-type="<%=data.hero_list[i].eng_type%>"
                            onerror="this.onerror=null; this.src='/sources/img/characters/Chr_Error.png';" class="">
                            <% } %>
                        </div>
                    </div>
                <% } %>
                <!-- <div class="character-list-box select-liner">                      
                    <div class="character-list" >
                        <img src="../sources/img/characters/dark_charlotte_warrior.png" >

                        <span class="lv_dark lv">70</span>
                        <span class="twogak gak">
                                7
                        </span>
                    </div>
                </div> -->
                

            </div>
            
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>

        window.onload = function(){
            let spot = $('.form_spot').eq(0)
            if(spot.find(".empty").length>0){
                spot.prepend("<div class='spot-selected-empty'></div>");
            }else {
                spot.prepend('<img src="../sources/img/out_char.png" class="out">');
                spot.prepend("<div class='spot-selected-full'></div>");                   
            }
        }

        class NowFormHeroes{
            static heroes_arr = new Array(10).fill(0);

            static setter(arr){
                this.heroes_arr = arr;
                return this.heroes_arr;
            }
            
            static getter(arr){
                return this.heroes_arr;
            }

            static oneHeroSet(idx, hero_id){
                hero_id = parseInt(hero_id);
                this.heroes_arr[idx] = hero_id;
                return this.heroes_arr;
            }
            
            static removeByHeroId(hero_id){
                if(hero_id == 0) return Hthis.heroes_arr;
                hero_id = parseInt(hero_id);
                this.heroes_arr[this.heroes_arr.indexOf(hero_id)] = 0;
                return this.heroes_arr;
            }

            static init(num_of_heroes){
                this.heroes_arr = new Array(parseInt(num_of_heroes)).fill(0);
                return this.heroes_arr;
            }

            // 지금 선택되어 있는 게 몇 번째인지 반환
            static indexOfFormSpot(){
                let now_selected 
                if($(".spot-selected-full").length > 0) now_selected = $(".spot-selected-full").parent();
                else now_selected = $(".spot-selected-empty").parent();

                let idx = $('.form_spot').index(now_selected);
                return idx;
            }

            /**
             * 편성에 들어있는 영웅들에 선택된 이펙트 추가해줌.
             **/ 
            static addSelectedEffect(){
                $('.character-list-box .form-selected').remove();
                for(let i=0; i<this.heroes_arr.length; i++){
                    $(`.character-list img[data-id = "${this.heroes_arr[i]}"]`).parent().before(`<div class="form-selected"><i class="fa-solid fa-plus color-gray"></i> </div> `);
                }
            }

            /**
             * heroes_arr에 저장된대로 편성 ui에 넣어줌
             **/
            static addHeroesInForm(){
                for(let i=0; i<$('.form_spot .select-liner').length; i++){
                    let spot = $('.form_spot .select-liner').eq(i)
                    spot.empty();
                    if(this.heroes_arr[i] == 0 || i > this.heroes_arr.length - 1){
                        spot.append(`<div class="empty"><i class="fa-solid fa-plus color-gray"></i> </div>
                                    <input value="0"  name="hero" type="hidden"> `);
                    } else {
                        let img = $(`.character-list img[data-id="${this.heroes_arr[i]}"]`).parent().children().clone().appendTo(spot);
                        spot.append(`<input value="${img.data('id')}"  name="hero" type="hidden">`)
                    }
                }
            }

            /**
             * 편성 ui에 있는 영웅들을 hero_arr에 담음
             **/ 
            static addHeroesInArr(){
                for(let i=0; i<this.heroes_arr.length; i++){
                    if(i > $('.form_spot input').length - 1)
                        this.oneHeroSet(i, 0);
                    else 
                        this.oneHeroSet(i, $('.form_spot input').eq(i).val());
                    
                }
            }
            
        }

    </script>
    <script src="/js/formmake/dropdownSet.js"></script>
    <script src="/js/formmake/pickHeroes.js"></script>
    <script>


        /**
         * 영웅 설정 부분
         **/
        $(".charSetting-btn").on('click', function(){
            $('.hero-setting-container').fadeIn();
        })

        $('.hero-setting-container .close').on('click', function(){
            $('.hero-setting-container').fadeOut();
        })

        
        

    </script>

</body>
</html>