<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이용 안내</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/instruction.css" rel="stylesheet">
</head>
<body>
    <%- include('../nav_and_banner.ejs', {page: 'notice', nickname: data.nickname, notice:data.banner_notice }) %> 
    
    
    <%- include('./info_tab.ejs', {from: 'faq'}) %> 
    
    <div class="instruction-contents">
        <% if(data.isit_admin){ %>
            <a href="/info/faq/edit" class="admin-noticewrite btn-cut btn-blue color-white">수정/추가</a>
        <% } %>
        <ul class="notice-container faq-container shadow-basic">
            <li class="top"></li>

            <% for(let i=0; i<data.faqs.length; i++) {%>
            <li class="">
                <div class="instruction-post">
                    <span ><i class="fa-solid fa-q"></i></span>
                    <span class="flex-fill" ><%= data.faqs[i].question %></span>
                    <span><i class="fa-solid fa-chevron-down"></i></span> 
                </div>
                <div class="answer-post bg-basicdark">
                    <span class="color-blue"><i class="fa-solid fa-a"></i></span>
                    <span class="flex-fill color-white" ><%= data.faqs[i].answer %></span>
                </div>
            </li>
            <% } %>

            <!-- <li class="">
                <div class="instruction-post">
                    <span ><i class="fa-solid fa-q"></i></span>
                    <span class="flex-fill" >질문 제목</span>
                    <span><i class="fa-solid fa-chevron-down"></i></span> 
                </div>
                <div class="answer-post bg-basicdark">
                    <span class="color-blue"><i class="fa-solid fa-a"></i></span>
                    <span class="flex-fill color-white" >어쩌고저쩌고 답변 </span>
                </div>
            </li> -->

            

            
        </ul>
    </div>


    <div class="pagenation  d-flex w-100 justify-content-center">
        <div class="jumps">
            <a href="javascript:moveToPageNum(<%= Math.floor((data.page - 5) / 5 - ((data.page - 5) % 5 == 0)) * 5 + 1%>)"><i class="fa-solid fa-angles-left"></i>  </a>
            <a href="javascript:moveToPageNum(<%=data.page - 1%>)"><i class="fa-solid fa-angle-left"></i>  </a>
        </div>
        <div>
            <a href="javascript:moveToPageNum(<%= Math.floor(data.page / 5 - (data.page % 5 == 0)) * 5 + 1%>)" <% if(data.page % 5 == 1) {%> class="active" <%}%> ><%= Math.floor(data.page / 5 - (data.page % 5 == 0)) * 5 + 1%></a>
            <% if(Math.floor(data.page / 5 - (data.page % 5 == 0)) * 5 + 2  <= data.max_page) {%>
            <a href="javascript:moveToPageNum(<%= Math.floor(data.page / 5 - (data.page % 5 == 0)) * 5 + 2%>)" <% if(data.page % 5 == 2) {%> class="active" <%}%> ><%= Math.floor(data.page / 5 - (data.page % 5 == 0)) * 5 + 2 %></a>
            <%} %>
            <% if(Math.floor(data.page / 5 - (data.page % 5 == 0)) * 5 + 3  <= data.max_page) {%>
            <a href="javascript:moveToPageNum(<%= Math.floor(data.page / 5 - (data.page % 5 == 0)) * 5 + 3%>)" <% if(data.page % 5 == 3) {%> class="active" <%}%> ><%= Math.floor(data.page / 5 - (data.page % 5 == 0)) * 5 + 3 %></a>
            <%} %>
            <% if(Math.floor(data.page / 5 - (data.page % 5 == 0)) * 5 + 4  <= data.max_page) {%>
            <a href="javascript:moveToPageNum(<%= Math.floor(data.page / 5 - (data.page % 5 == 0)) * 5 + 4%>)" <% if(data.page % 5 == 4) {%> class="active" <%}%> ><%= Math.floor(data.page / 5 - (data.page % 5 == 0)) * 5 + 4 %></a>
            <%} %>
            <% if(Math.floor(data.page / 5 - (data.page % 5 == 0)) * 5 + 5  <= data.max_page) {%>
            <a href="javascript:moveToPageNum(<%= Math.floor(data.page / 5 - (data.page % 5 == 0)) * 5 + 5%>)" <% if(data.page % 5 == 0) {%> class="active" <%}%> ><%= Math.floor(data.page / 5 - (data.page % 5 == 0)) * 5 + 5 %></a>
            <%} %>
        </div>
        <div class="jumps">
            <a href="javascript:moveToPageNum(<%=data.page + 1%>)"><i class="fa-solid fa-angle-right"></i>  </a>
            <a href="javascript:moveToPageNum(<%= Math.floor(data.page / 5 - (data.page % 5 == 0)) * 5 + 6%>)"><i class="fa-solid fa-angles-right"></i>  </a>
        </div>
    </div>
        

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
    <script>
        function moveToPageNum(num){
            // console.log($(page).text())
            url = new URL(window.location.href);
            url.searchParams.set("p", num);
            window.location.href = url.toString();
        }
        
        $(".faq-container .instruction-post").on("click", function(){
            // console.log("sdfas")
            if($(this).siblings(".answer-post").css("height") == '0px'){
                $(".faq-container .answer-post").css("height", "0").css("padding", "0 60px")
                $(".faq-container .instruction-post .fa-chevron-up").removeClass("fa-chevron-up").addClass("fa-chevron-down").removeClass("color-blue")
                $(this).siblings(".answer-post").css("height", "auto").css("padding", "30px 60px")
                $(this).children('span').eq(2).children("i").removeClass("fa-chevron-down").addClass("fa-chevron-up").addClass("color-blue")
            } else{
                $(".faq-container .answer-post").css("height", "0").css("padding", "0 60px")
                $(this).children('span').eq(2).children("i").removeClass("fa-chevron-up").addClass("fa-chevron-down").removeClass("color-blue")
            }

        })

    </script>
    


</body>
</html>