<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로드의 전술서:마이페이지</title>
    <link href="/sources/img/로전아이콘.svg" rel="shortcut icon" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/form_card.css" rel="stylesheet">
    <link href="/css/forum.css" rel="stylesheet">
    <link href="/css/form_making.css" rel="stylesheet">
    <link href="/css/hero_setting.css" rel="stylesheet">
    <link href="/css/lv_badges.css" rel="stylesheet">
    <link href="/css/mypage.css" rel="stylesheet">
    <!-- <link rel="preload" href="/sources/img/characters" as="type"> -->
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    
    <%- include('../nav_and_banner.ejs', {page: ' ', nickname: data.nickname, notice:data.banner_notice }) %> 

    <div class="havinghero-blocker invisible"></div>
    <div class="toast-black">
        
    </div>

    <!-- 왼쪽 리모콘(?) -->
    <div class="mypage-remote ">
        <%- include('mypage_nav.ejs', {page: 'hero setting', nickname: data.nickname}) %> 
        <!-- <div class="shadow-filter-basic havinghero-zindex"> -->
        <div class="filter-shadow shadow-filter-basic">
            <div class="filter-container shadow-filter-basic ">
                <div class="btn-shadow">
                    <button data-btn="reset" class="herosetting-filterreset btn-red btn-cut color-white">
                        <h6>필터 초기화</h6> <i class="fa-solid fa-rotate-right"></i> 
                    </button>
                </div>
                <div class="havinghero-check">
                    <h6>
                        <label class=" d-flex align-self-center"> 
                            <span class="me-2">보유 영웅만 보이기</span> 
                            <input type="checkbox" name="character_public" class="charPublic-checkbox">
                            <span class="checkbox-img"></span>  
                        </label>
                    </h6>
                </div>
                <div class="hero-namesearch">
                    <h6>영웅 이름 검색</h6>
                    <input type="text" name="hero_name_search" id="" class="hero-name-search color-black bg-lightgray">
                    <i class="fa-solid fa-magnifying-glass color-black"></i>
                </div>
                <div>
                    <h6>속성</h6>
                    <div class="typeselecter d-flex ">
                        <img src="/sources/img/types/dark.png" alt="">
                        <img src="/sources/img/types/fire.png" alt="">
                        <img src="/sources/img/types/water.png" class="" alt="">
                        <img src="/sources/img/types/grass.png" class="" alt="">
                        <img src="/sources/img/types/light.png" class="" alt="">
                    </div>
                </div>
                <div>
                    <h6>클래스</h6>
                    <button data-btn="class-dropdown" class="hero-class-search color-black"><span>
                        <img src="../sources/img/classes/guardian.png" width="18px" class="invisible me-2"><span class="classnamespan">전체 클래스</span></span><i class="fa-solid fa-chevron-down"></i></button>
                </div>
                <div>
                    <h6>영웅 정렬</h6>
                    <button data-btn="hero-sort" class="hero-sort-btn color-black"><span>영웅순</span><i class="fa-solid fa-chevron-down"></i></button>
                </div>
            </div>
        </div>
        <div class="dropdown-contents">
            <ul class="class-dropdown bg-lightgray">
                <% for(let i=0; i<data.class_list.length; i++){ %>
                    <li data-id="<%= data.class_list[i]['id']%>">
                        <img src="../sources/img/classes/<%=data.class_list[i]['eng_name'] %>.png" width="18px" class="me-2">
                        <%=data.class_list[i]['kor_name'] %></li>
                <% } %>
                <li data-id="0">전체 클래스</li>
            </ul>

            <ul class="hero-sort bg-lightgray">
                <li data-sort="hero">영웅순</li>
                <li data-sort="grade">등급순</li>
            </ul>
        </div>
        <script>
            $(".filter-container button").on("click", function(){
                let btn_name = $(this).data('btn');
                if(btn_name == 'reset') return;
                $(".dropdown-contents").children(`.${btn_name}`).slideToggle();
                // console.log(btn_name)
                dropdownIconToggle($(this));
            })
        </script>
    </div>

    <!-- 오른쪽 컨텐츠 -->
    <div class="mypage-maincontents ">
        <div class="hero-setting shadow-basic bg-gray ">
            <!-- 상단바 -->
            <div class="post-title  d-flex">
                <div class="bg-basicdark color-yellow  flex-fill d-flex align-items-center"><h6>영웅 설정</h6></div>
            </div>

            <!-- 컨텐츠 -->
            <div class="setting-content bg-gray d-flex justify-content-center">
                <div class="setting-charinfo pe-4  d-flex justify-content-center ">
                    <div>
                    <div class="setting-charname d-flex align-items-center mt-3">
                        <img src="/sources/img/types/fire.png" class="invisible setting-class-size">
                        <p class="ms-1"></p>
                    </div>
                    <div class="setting-charimg mt-3" >
                        <img src="/sources/img/characters/Chr_Error.png">
                        <!-- <span class="lv_fire lv"></span>
                        <span class="onegak gak"></span> -->
                    </div>
                    </div>
                </div>
                <div class="right-line"></div>
                <div class="setting-form d-flex justify-content-center">
                    <p class="herosetting-placeholder">설정할 영웅을 선택하세요</p>
                    <form class="invisible" method="post" action="/mypage/myhero/normalsave">
                        <input type="hidden" name="hero">
                        <div class=" d-flex align-items-center mt-3">
                            <p class="me-5">레벨</p>
                            <div class="btn-shadow lv-input input-w">
                                <input type="input" name="lv" class="btn-cut ">
                            </div>
                        </div>
                        <div class="d-flex  mt-3">
                            <p class="me-5">초월</p>
                            <div class="d-flex flex-fill justify-content-between input-w">
                                <label class="charSetting-ele d-flex align-self-center me-3">  
                                    <input type="radio" name="cho" value="5" class="charPublic-checkbox 5cho"><span class="checkbox-img"></span> <span class="ms-2">5</span> 
                                </label>
                                <label class="charSetting-ele d-flex align-self-center me-3">  
                                    <input type="radio" name="cho" value="6" class="charPublic-checkbox 6cho"><span class="checkbox-img"></span> <span class="ms-2">6</span> 
                                </label>
                                <label class="charSetting-ele d-flex align-self-center">  
                                    <input type="radio" name="cho" value="7" class="charPublic-checkbox 7cho"><span class="checkbox-img"></span> <span class="ms-2">7</span> 
                                </label>
                            </div>
                            
                        </div>
                        
                        <div class="d-flex mt-3">
                            <p class="me-5">각성</p>
                            <div class="d-flex justify-content-between input-w">
                            
                                <label class="charSetting-ele d-flex align-self-center">  
                                    <input type="radio" name="gak" value="0" class="charPublic-checkbox nogak-radio"><span class="checkbox-img"></span> <img src="../sources/img/nogak.png" class="ms-1"> 
                                </label>
                                <label class="charSetting-ele d-flex align-self-center">  
                                    <input type="radio" name="gak" value="1" class="charPublic-checkbox onegak-radio"><span class="checkbox-img"></span> <img src="../sources/img/1gak.png" class="ms-1"> 
                                </label>
                                <label class="charSetting-ele d-flex align-self-center"> 
                                    <input type="radio" name="gak" value="2" class="charPublic-checkbox twogak-radio"><span class="checkbox-img"></span> <img src="../sources/img/2gak.png" class="ms-1"> 
                                </label>
                            </div>
                            
                        </div>
                        
                        <!-- 하단 버튼들 -->
                        <div class="setting-btns d-flex justify-content-end">
                            <div class="btn-shadow ">
                                <input class="btn-cut basic-btn btn-yellow color-white setting-normal-submit" type="submit" value="적용" >
                                <!-- <input class="btn-cut basic-btn btn-yellow color-white setting-normal-submit" type="submit" value="적용" formaction="/mypage/myhero/normalsave"> -->
                            </div>
                            <div class="btn-shadow ms-2 all-submit">
                                <input class="btn-cut basic-btn btn-blue color-white setting-all-submit" type="submit" value="모든 영웅 적용" >
                                <!-- <input class="btn-cut basic-btn btn-blue color-white setting-all-submit" type="submit" value="모든 캐릭터 적용" formaction="/mypage/myhero/allsave"> -->
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>        
        </div>
        
        <div class="characters-container-bg bg-basicdark shadow-basic ">
            <ul class=" characters-container">
                <div class="characters-container-top btn-shadow">
                    <div class="havinghero-set color-white btn-cut">
                        <div class="btn-blue">보유 영웅 설정</div>
                        <!-- <div class="btn-red">OFF</div> -->
                        <div class="on-btn flex-fill btn-gray">ON</div>
                    </div>

                    <p class="color-white havinghero-notice invisible">• 체크된 영웅은 보유 영웅으로, 체크가 해제된 영웅은 미보유 영웅으로 저장됩니다.</p>

                    <!-- <div class="havinghero-set color-white btn-cut">
                        <div class="btn-blue">전체 선택</div>
                        <div class="on-btn btn-gray">전체 해제</div>
                    </div> -->

                    <div class="all-btn color-white btn-cut  d-flex invisible">
                        <div class="btn-yellow  allselect-btn">전체 선택</div>
                        <div class="btn-red allunselect-btn">전체 해제</div>
                    </div>
                </div>
                    
                
                
                <div class=" heroes-spread-container blue-scroll ">
                <!-- <div class="d-flex justify-content-start flex-wrap"> -->
                    <!-- <li class="character-list-box select-liner d-flex justify-content-center" >
                        <div class="character-list" >
                            <i class="havingheroset-check fa-solid fa-check"></i>
                            <img src="/sources/img/characters/dark_zhurahan_warrior.png">
                            <span class="lv_dark lv">70</span>
                            <span class="nogak gak">7</span>
                        </div>
                    </li> -->

                    <% for(let i=0; i<data.hero_list.length; i++){ %>
                    <li class="character-list-box select-liner ">
                    <!-- <li class="character-list-box select-liner d-flex justify-content-center"> -->
                        <div class="character-list" >
                            <% if(data.nickname && data.having_heroes_id.includes(data.hero_list[i]["ID"])){ %>
                            <img src="/sources/img/characters/<%= data.hero_list[i].eng_type %>_<%= data.hero_list[i].eng_name %>_<%= data.hero_list[i].eng_class %>.png" 
                            alt="" data-id="<%= data.hero_list[i]["ID"] %>" data-korname="<%= data.hero_list[i].kor_name %>" data-type="<%=data.hero_list[i].eng_type%>"
                            onerror="this.onerror=null; this.src='/sources/img/characters/Chr_Error.png';">

                            <span class="lv_<%=data.hero_list[i].eng_type%> lv"><%=data.having_heroes[data.having_heroes_id.indexOf(data.hero_list[i]["ID"])].lv %></span>
                                <% if(data.having_heroes[data.having_heroes_id.indexOf(data.hero_list[i]["ID"])].gak == 0){ %>
                                <span class="nogak gak">
                                <% } else if(data.having_heroes[data.having_heroes_id.indexOf(data.hero_list[i]["ID"])].gak == 1){ %>
                                <span class="onegak gak">
                                <% } else if(data.having_heroes[data.having_heroes_id.indexOf(data.hero_list[i]["ID"])].gak == 2){ %>
                                <span class="twogak gak">
                                <% } %>

                                    <%=data.having_heroes[data.having_heroes_id.indexOf(data.hero_list[i]["ID"])].cho %>
                                </span>
                            <% } else{ %>
                            <img src="/sources/img/characters/<%= data.hero_list[i].eng_type %>_<%= data.hero_list[i].eng_name %>_<%= data.hero_list[i].eng_class %>.png" 
                            alt="" data-id="<%= data.hero_list[i]["ID"] %>" data-korname="<%= data.hero_list[i].kor_name %>" data-type="<%=data.hero_list[i].eng_type%>"
                            onerror="this.onerror=null; this.src='/sources/img/characters/Chr_Error.png';" class="nothave">

                            <span class="lv_<%=data.hero_list[i].eng_type%> lv">0</span>
                            <span class="nogak gak">0</span>
                            <% } %>
                        </div>
                    </li>
                    <% } %>
                </div>
                
            </ul>
        </div>
    </div>

    <%- include('../footer.ejs') %> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
    <script src="/js/formmake/heroSetting.js"></script>
    <script src="/js/mypage/havingHeroCheck.js"></script>
    <script>
    
    HavingHeroChecker.setter_saved(JSON.parse('<%- JSON.stringify(data.having_heroes_id) %>'));

    $(document).on('click', function(e){
        // 빈 곳 클릭하면 영웅 필터 올라감
        if(!$(e.target).closest(".dropdown-contents ul").length>0
        && !$(e.target).closest(".filter-container button").length>0
        && !$(e.target).closest(".hero-namesearch").length>0){
            $(".dropdown-contents ul").slideUp(200);
            $(".filter-container .hero-class-search i").attr('class', "fa-solid fa-chevron-down");
            $(".filter-container .hero-sort-btn i").attr('class', "fa-solid fa-chevron-down");
        }

        // 보유 영웅 설정 켜져있을 때 다른 곳 클릭하면 꺼짐
        if(!$('.havinghero-blocker').hasClass('invisible')
        && !$(e.target).closest(".characters-container-bg").length > 0
        && !$(e.target).closest(".characters-container").length > 0
        && !$(e.target).closest(".character-list").length > 0
        && !$(e.target).closest(".filter-shadow").length > 0
        && !$(e.target).closest(".dropdown-contents").length > 0
        )
        {
            $('.havinghero-blocker').toggleClass('invisible');
            $('.havinghero-notice').toggleClass('invisible');
            $('.filter-shadow').toggleClass('havinghero-zindex');
            
            var onoff = $('.havinghero-set .on-btn');
            onoff.text("ON");
            onoff.addClass('btn-gray');
            onoff.removeClass('btn-red');
            $('.all-btn').addClass('invisible');
            $('.character-list i').remove();
            HavingHeroChecker.reset_check();
            HavingHeroChecker.setter_saved(HavingHeroes.getter_id());
        }
    });


    

    function dropdownIconToggle(btn){
        const now_i = btn.children("i");

        // console.log(now_i)
        if(now_i.attr('class').includes("fa-chevron-down")){
            now_i.attr('class', "fa-solid fa-chevron-up");
        } else {
            now_i.attr('class', "fa-solid fa-chevron-down");
        }
    }
    
    $('.class-dropdown li').on("click", function(){
        var btn_img = $('.hero-class-search img');
        if($(this).children('img').length > 0) {
            btn_img.attr('src', $(this).children('img').attr('src'));
            btn_img.removeClass('invisible');
        }
        else btn_img.addClass('invisible');
        $('.hero-class-search .classnamespan').text($(this).text())
        $('.class-dropdown').slideUp();
        dropdownIconToggle($('.hero-class-search'));
        hero_filter();
    })

    $('.hero-sort li').on("click", function(){
        $('.hero-sort-btn span').text($(this).text())
        $('.hero-sort').slideUp();
        dropdownIconToggle($('.hero-sort-btn'));
        hero_filter();
    })

    $(document).on("click", '.character-list' ,function(){
        
        // 보유영웅 설정 ON
        if(!$('.havinghero-blocker').hasClass('invisible')){
            if($(this).children('i').length > 0){
                $(this).children('i').remove();
                HavingHeroChecker.unchecked_heroes_remove();
                HavingHeroChecker.checked_heroes_push();
            } else{
                $(this).append(`<i class="havingheroset-check fa-solid fa-check"></i>`);
                HavingHeroChecker.unchecked_heroes_remove();
                HavingHeroChecker.checked_heroes_push();
                // console.log(HavingHeroChecker.getter_check());
            }
            
            // console.log(HavingHeroChecker.getter_check())
            // console.log(HavingHeroChecker.getter_saved())
            return ;
        }
        
        
        
        // 보유영웅 설정 OFF
        if($('.char-selected').length > 0
        && $(this).children('img').data('id') == $('.setting-charimg img').data('id')){
            // 영웅을 다시 클릭했을 때 선택이 해제됨
            $('.char-selected').remove();

            $('.setting-charname img').addClass("invisible")
            $('.setting-form .herosetting-placeholder').removeClass("invisible")
            $('.setting-form form').addClass("invisible")
            $('.setting-btns input').prop('disabled', true);

            $('.setting-charname p').text('');
            $('.setting-charimg').empty();
            $('.setting-charimg').append(`<img src="/sources/img/characters/Chr_Error.png">`);
        } else{
            // 영웅을 클릭했을 때 선택되며 영웅 설정창에 뜨기
            $('.char-selected').remove();
            $(this).prepend(`<div class='char-selected'></div>`);

            $('.setting-charname img').removeClass("invisible")
            $('.setting-form .herosetting-placeholder').addClass("invisible")
            $('.setting-form form').removeClass("invisible")
            selectHeroSetting($(this));
            $('.setting-btns input').prop('disabled', false);
        }
        
    })

    /**
     * DB에서 받아온 원본을 훼손하지 않고 저장하는 클래스
     */
    class HavingHeroes{
        static having_heroes;
        static having_heroes_id;

        static {
            this.having_heroes = '<%- JSON.stringify(data.having_heroes) %>';
            this.having_heroes = JSON.parse(this.having_heroes);

            this.having_heroes_id = JSON.parse('<%- JSON.stringify(data.having_heroes_id) %>');
        }

        static setter(heroes){
            this.having_heroes = heroes;
            return this.having_heroes;
        }

        static getter(){
            return this.having_heroes;
        }

        static setter_id(idxes){
            this.having_heroes_id = idxes;
            return this.having_heroes_id;
        }

        static getter_id(){
            return this.having_heroes_id;
        }
    }

    /**
     * 영웅 필터링해서 적용까지
     **/
    function hero_filter(){
        // console.log("잡힘")
        let result="";
        let hero_list = '<%- JSON.stringify(data.hero_list) %>';
        hero_list = JSON.parse(hero_list);
        let having_heroes = HavingHeroes.getter();
        let having_heroes_id = HavingHeroes.getter_id();
        let gak_num2eng = {0: 'no', 1: 'one', 2: 'two'}
        // let hero_list_html = $('.character-list-box');

        let having_hero_only = $('.havinghero-check .charPublic-checkbox').is(':checked')
        let hero_name = $('.hero-namesearch input').val();
        let type_names = $('.typeselecter img:not(.inactive)').map(function(i, e){
            return $(e).attr('src').substr(19).split('.')[0]
        }).get();
        let class_name = $('.hero-class-search > span').eq(0).text();
        let sort_type = $('.hero-sort-btn').text();
        // console.log(type_names)
        if(sort_type.includes("등급순")){
            hero_list.sort(function(a, b){
                var a_val, b_val
                if(having_heroes_id.indexOf(a["ID"]) < 0) a_val = 0;
                else{
                    a_val = parseInt(having_heroes[having_heroes_id.indexOf(a["ID"])].cho)*100 + parseInt(having_heroes[having_heroes_id.indexOf(a["ID"])].lv) + parseInt(having_heroes[having_heroes_id.indexOf(a["ID"])].gak);
                }
                if(having_heroes_id.indexOf(b["ID"]) < 0) b_val = 0;
                else{
                    b_val = parseInt(having_heroes[having_heroes_id.indexOf(b["ID"])].cho)*100 + parseInt(having_heroes[having_heroes_id.indexOf(b["ID"])].lv) + parseInt(having_heroes[having_heroes_id.indexOf(b["ID"])].gak);
                }                
                return b_val - a_val;
            })
        }

        // console.log(having_heroes_id)

        for(let i=0; i < hero_list.length; i++){
            if(
            (class_name.includes(hero_list[i]["kor_class"]) || class_name.includes('전체'))
            && (type_names.includes(hero_list[i]["eng_type"]))
            &&((hero_list[i]["kor_name"]).includes(hero_name) || !hero_name)
            &&(having_heroes_id.includes(hero_list[i]["ID"]) || !having_hero_only)
            ){
                // console.log(hero_list[i]["eng_type"])
                if(having_heroes_id.includes(hero_list[i]["ID"])){ // 보유한 영웅
                    result = result +
                    `<li class="character-list-box select-liner d-flex justify-content-center">
                        <div class="character-list" >
                            <img src="/sources/img/characters/${hero_list[i].eng_type}_${hero_list[i].eng_name}_${hero_list[i].eng_class}.png" 
                            alt="" data-id="${hero_list[i]["ID"]}" data-korname="${hero_list[i]["kor_name"]}" data-type="${hero_list[i].eng_type}"
                            onerror="this.onerror=null; this.src='/sources/img/characters/Chr_Error.png';">
                            <span class="lv_${hero_list[i].eng_type} lv">${having_heroes[having_heroes_id.indexOf(hero_list[i]["ID"])].lv}</span>
                            <span class="${gak_num2eng[having_heroes[having_heroes_id.indexOf(hero_list[i]["ID"])].gak]}gak gak">${having_heroes[having_heroes_id.indexOf(hero_list[i]["ID"])].cho}</span>
                        </div>
                    </li>`
                } else{ // 보유하지 않은 영웅
                    result = result +
                    `<li class="character-list-box select-liner d-flex justify-content-center">
                        <div class="character-list" >
                            <img src="/sources/img/characters/${hero_list[i].eng_type}_${hero_list[i].eng_name}_${hero_list[i].eng_class}.png" 
                            alt="" data-id="${hero_list[i]["ID"]}" data-korname="${hero_list[i]["kor_name"]}" data-type="${hero_list[i].eng_type}"
                            onerror="this.onerror=null; this.src='/sources/img/characters/Chr_Error.png';"class="nothave">
                            <span class="lv_${hero_list[i].eng_type} lv">0</span>
                            <span class="nogak gak">0</span>
                        </div>
                    </li>`
                }
                
            }

        }

        // console.log(result);
        
        $(".characters-container > .heroes-spread-container").html(result);

        // 보유 영웅 설정 ON 시 체크까지
        if(!$('.havinghero-blocker').hasClass('invisible')){
            HavingHeroChecker.checked_heroes_recheck()    
        }

        // 영웅 설정 중이고 해당 영웅 있으면 찾아서 select
        if(!$('.setting-form form').hasClass('invisible')){
            $('.char-selected').remove();
            let setting_hero = $('.setting-form form input[name="hero"]').val()
            // console.log(setting_hero)
            $(`.character-list img[data-id="${setting_hero}"]`).parent().prepend(`<div class='char-selected'></div>`);
        }
    }

    $('.hero-namesearch input').on('propertychange change keyup paste input', function(){
        hero_filter();
    })

    $('.typeselecter img').on('click', function(){
        $(this).toggleClass('inactive');
        hero_filter();
    })

    $('.havinghero-check .charPublic-checkbox').on('click', function(){
        hero_filter();
    })

    $('.herosetting-filterreset').on('click', function(){
        $('.charPublic-checkbox').prop('checked', false);
        $('.hero-namesearch input').val('');
        $('.typeselecter img').removeClass('inactive');
        $('.hero-class-search img').addClass('invisible');
        $('.hero-class-search .classnamespan').text('전체 클래스');
        $('.hero-sort-btn span').text('영웅순')
        hero_filter();
    })

    $('.havinghero-set').on('click', function(){
        
        
        var onoff = $('.havinghero-set .on-btn');
        if(onoff.text().includes("ON")){ // 켜짐
            $('.havinghero-blocker').toggleClass('invisible');
            $('.havinghero-notice').toggleClass('invisible');
            $('.filter-shadow').toggleClass('havinghero-zindex');
            $('.all-btn').toggleClass('invisible');onoff.text("OFF");
            onoff.addClass('btn-red');
            onoff.removeClass('btn-gray');
            HavingHeroChecker.checked_heroes_recheck()

        } else{ // 꺼짐
            if(!confirm("보유 영웅을 이대로 저장할까요?")){
                return;
            }else{
                $('.havinghero-blocker').toggleClass('invisible');
                $('.havinghero-notice').toggleClass('invisible');
                $('.filter-shadow').toggleClass('havinghero-zindex');
                $('.all-btn').toggleClass('invisible');onoff.text("ON");
                onoff.addClass('btn-gray');
                onoff.removeClass('btn-red');
                $('.character-list i').remove();

                let saved_list = HavingHeroChecker.getter_saved();
                let checked_list = HavingHeroChecker.getter_check();
                $('body').append(`<form method="post" action="/mypage/myhero/havingherosave" class="havinghero-checked-form"></form>`)
                var newForm = $('<form></form>');
                //set attribute (form) 
                newForm.attr("method","post");
                newForm.attr("action","/mypage/myhero/havingherosave");
                newForm.attr("class","havinghero-checked-form");
                for(let i=0; i<saved_list.length; i++){
                    newForm.append(`<input name="hero" type="hidden" value="${saved_list[i]}">`);
                }
                for(let i=0; i<checked_list.length; i++){
                    newForm.append(`<input name="hero" type="hidden" value="${checked_list[i]}">`);
                }

                newForm.appendTo('body');
                newForm.submit();
            }
            
        }
    })

    $('.allselect-btn').on('click', function(){
        // 보유영웅 설정 ON?
        if(!$('.havinghero-blocker').hasClass('invisible')){
            let heroes = $('.character-list');
            for(let i=0; i<heroes.length; i++){
                if(heroes.eq(i).children('i').length <= 0){
                    $('.character-list').append(`<i class="havingheroset-check fa-solid fa-check"></i>`);
                }
            }
            HavingHeroChecker.checked_heroes_push();
            HavingHeroChecker.unchecked_heroes_remove();
        }
    })

    $('.allunselect-btn').on('click', function(){
        // 보유영웅 설정 ON?
        if(!$('.havinghero-blocker').hasClass('invisible')){
            $('.character-list i').remove();
            HavingHeroChecker.unchecked_heroes_remove();
            HavingHeroChecker.checked_heroes_push();

        }
    })

    $(document).ready(function(){
        $(document).on('click', '.setting-normal-submit', function(e){
            e.preventDefault();
            const query = $('.setting-form form').serializeArray();
            // console.log(query)

            $.ajax({
                    url: '/herosetting/normalsave', 
                    method: 'POST', 
                    contentType: 'application/json',
                    data: JSON.stringify({ 
                        lv : query[1].value,
                        cho : query[2].value,
                        gak : query[3].value,
                        hero : query[0].value, 
                    }),
                    
                    // 요청 성공 
                    success: function(res) {
                        if(res.status.includes('2')){
                            // 영웅 설정 선택 해제
                            $('.char-selected').remove();

                            $('.setting-charname img').addClass("invisible")
                            $('.setting-form .herosetting-placeholder').removeClass("invisible")
                            $('.setting-form form').addClass("invisible")
                            $('.setting-btns input').prop('disabled', true);

                            $('.setting-charname p').text('');
                            $('.setting-charimg').empty();
                            $('.setting-charimg').append(`<img src="/sources/img/characters/Chr_Error.png">`);

                            // 보유 영웅 리스트 다시 세팅
                            HavingHeroes.setter(res.data.having_heroes);
                            HavingHeroes.setter_id(res.data.having_heroes_id);

                            // 필터 다시 출력
                            hero_filter();

                            $('.toast-black').text("영웅 설정이 저장되었습니다.").fadeIn(600).delay(1500).fadeOut(600);

                        } else{
                            // DB 오류
                            alert(res.message);
                        }
                    },                        
                    
                    error: function(xhr, status, error) {
                        // 오류 
                        alert(`오류 발생! 다시 시도하세요. ${status} - ${error}`);
                        console.error('Error:', status, error);
                    }
                });

        })

        $(document).on('click', '.setting-all-submit', function(e){
            e.preventDefault();
            if(!confirm("모든 보유 영웅의 설정을 변경하시겠습니까?")) return false;
            const query = $('.setting-form form').serializeArray();
            // console.log(query)

            $.ajax({
                    url: '/herosetting/allsave', 
                    method: 'POST', 
                    contentType: 'application/json',
                    data: JSON.stringify({ 
                        lv : query[1].value,
                        cho : query[2].value,
                        gak : query[3].value,
                    }),
                    
                    // 요청 성공 
                    success: function(res) {
                        if(res.status.includes('2')){
                            // 영웅 설정 선택 해제
                            $('.char-selected').remove();

                            $('.setting-charname img').addClass("invisible")
                            $('.setting-form .herosetting-placeholder').removeClass("invisible")
                            $('.setting-form form').addClass("invisible")
                            $('.setting-btns input').prop('disabled', true);

                            $('.setting-charname p').text('');
                            $('.setting-charimg').empty();
                            $('.setting-charimg').append(`<img src="/sources/img/characters/Chr_Error.png">`);

                            // 보유 영웅 리스트 다시 세팅
                            HavingHeroes.setter(res.data.having_heroes);
                            HavingHeroes.setter_id(res.data.having_heroes_id);

                            // 필터 다시 출력
                            hero_filter();
                            $('.toast-black').text("모든 보유 영웅에게 영웅 설정이 저장되었습니다.").fadeIn(600).delay(1500).fadeOut(600);
                        } else{
                            // DB 오류
                            alert(res.message);
                        }
                    },
                    
                    error: function(xhr, status, error) {
                        // 오류 
                        alert(`오류 발생! 다시 시도하세요. ${status} - ${error}`);
                        console.error('Error:', status, error);
                    }
                });

        })

        $('form' ).on('submit',function(e){    
            e.preventDefault();

        })
    })

    

    </script>
</body>
</html>