<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기사단 편성</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">  
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/form_card.css" rel="stylesheet">
    <link href="/css/form_detail.css" rel="stylesheet">
    <link href="/css/lv_badges.css" rel="stylesheet">
    <link href="/css/form_making.css" rel="stylesheet">
    <link href="/css/hero_setting.css" rel="stylesheet">
    
</head>
<body>

    <% if(data.form_status){ %>
    <%- include('../nav_and_banner.ejs', {page: ' ', nickname: data.nickname, notice:data.banner_notice }) %> 
    <% }else{ %>
    <%- include('../nav_and_banner.ejs', {page: 'formmake', nickname: data.nickname, notice:data.banner_notice }) %> 
    <% } %>

    <!-- 영웅 설정 모달 -->
    <div class="hero-setting-container">
        <div class="hero-setting shadow-basic bg-gray ">
            <!-- 상단바 -->
            <div class="post-title d-flex">
                <div class="bg-basicdark color-yellow flex-fill d-flex align-items-center">
                    <h5>영웅 설정</h5>
                </div>
                <button type="button" class="close btn-red color-white" ><i class="fa-solid fa-xmark"></i></button>
            </div>

            <!-- 컨텐츠 -->
            <div class="setting-content bg-gray d-flex justify-content-center">
                <div class="setting-charinfo pe-4  d-flex justify-content-center ">
                    <div>
                    <div class="setting-charname d-flex align-items-center mt-3">
                        <img src="/sources/img/types/fire.png" class=" setting-class-size">
                        <p class="ms-1">메이링</p>
                    </div>
                    <div class="setting-charimg mt-3" >
                        <img src="/sources/img/characters/fire_meiling_shooter.png">
                        <span class="lv_fire lv">70</span>
                        <span class="onegak gak">7</span>
                    </div>
                    </div>
                </div>
                <div class="right-line"></div>
                <div class="setting-form d-flex justify-content-center">
                    <!-- <p class="herosetting-placeholder">설정할 영웅을 선택하세요</p> -->
                    <form class="hero-setting-form" method="post" action="/mypage/myhero/normalsave">
                        <input type="hidden" name="hero">
                        <div class=" d-flex align-items-center mt-3">
                            <p class="me-5">레벨</p>
                            <div class="btn-shadow  lv-input input-w">
                                <input type="input" name="lv" class="btn-cut ">
                            </div>
                        </div>
                        <div class="d-flex  mt-3">
                            <p class="me-5">초월</p>
                            <div class="d-flex flex-fill justify-content-between input-w">
                                <label class="charSetting-ele d-flex align-self-center ">  
                                    <input type="radio" name="cho" value="5" class="charPublic-checkbox 5cho"><span class="checkbox-img"></span> <span class="ms-2">5</span> 
                                </label>
                                <label class="charSetting-ele d-flex align-self-center ">  
                                    <input type="radio" name="cho" value="6" class="charPublic-checkbox 6cho"><span class="checkbox-img"></span> <span class="ms-2">6</span> 
                                </label>
                                <label class="charSetting-ele d-flex align-self-center">  
                                    <input type="radio" name="cho" value="7" class="charPublic-checkbox 7cho"><span class="checkbox-img"></span> <span class="ms-2">7</span> 
                                </label>
                            </div>
                            
                        </div>
                        
                        <div class="d-flex mt-3">
                            <p class="me-5">각성</p>
                            <div class="d-flex justify-content-between input-w">
                            
                                <label class="charSetting-ele d-flex align-self-center">  
                                    <input type="radio" name="gak" value="0" class="charPublic-checkbox nogak-radio"><span class="checkbox-img"></span> <img src="/sources/img/nogak.png" class="ms-1"> 
                                </label>
                                <label class="charSetting-ele d-flex align-self-center">  
                                    <input type="radio" name="gak" value="1" class="charPublic-checkbox onegak-radio"><span class="checkbox-img"></span> <img src="/sources/img/1gak.png" class="ms-1"> 
                                </label>
                                <label class="charSetting-ele d-flex align-self-center"> 
                                    <input type="radio" name="gak" value="2" class="charPublic-checkbox twogak-radio"><span class="checkbox-img"></span> <img src="/sources/img/2gak.png" class="ms-1"> 
                                </label>
                            </div>
                            
                        </div>
                        
                        <!-- 하단 버튼들 -->
                        <div class="setting-btns d-flex justify-content-end">
                            <div class="btn-shadow ">
                                <input class="btn-cut basic-btn btn-yellow color-white setting-normal-submit" type="submit" value="적용" >
                            </div>
                            <div class="btn-shadow ms-2 all-submit">
                                <input class="btn-cut basic-btn btn-blue color-white setting-all-submit" type="submit" value="모든 영웅 적용" >
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>        
        </div>
    </div>

    <!-- 저장/게시 누르고 확인 -->
    <div class="my-modal-bg">
        <div class="preview-detail-container shadow-basic bg-lightgray">
            <div class="preview-detail-box-top bg-basicdark color-yellow">
            미리보기
            </div>
            <!-- 편성 글. 조합 -->
            <div class="preview-detail  ">
                <!-- 상단바 -->
                <div class="form-title ">
                    <dix class="form-status ">
                        <button type="button " class="status-request border-0 d-flex align-items-center justify-content-center">
                            <p>편성 요청</p>
                        </button>
                    </dix>

                    <div class="content-name flex-fill">
                        <button type="button"  class="bg-basicdark  color-yellow border-0 d-flex align-items-center justify-content-between">
                            <p>아레나</p>
                            <i class="ms-3 fa-solid fa-lock invisible"></i>
                            
                        </button>

                    </div>
                    
                </div>

                <!-- 아래 컨텐츠 -->
                <div class="d-flex contents">
                    
                    <!-- 왼쪽 -->
                    <div class="left-box">
                        <div class="d-flex align-items-end">
                            <div class="form-author bg-basicdark color-white">
                                작성자 <span class="color-purple">여덟글자정도어때</span>
                            </div>
                            <div class="form-detail-date">
                                    2025.03.01 04:23
                            </div>
                        </div>
                        

                        
                        <form class="form-border-container d-flex align-items-center flex-wrap">
                            

                        </form>
                        

                        <div class="left-box-bottom d-flex justify-content-start align-items-center">
                            <span class="view">조회수 <span>0</span></span>
                            <span class="mine"><i class="fa-solid fa-bookmark"></i> 0</span>
                            <span class="report color-red ">신고</span>
                            <span class="share"><i class="fa-solid fa-share"></i></span>
                        </div>
                    </div>

                    <!-- 오른쪽 -->
                    <div class="right-box">
                        <h5 class="explain-title d-flex align-items-end">작성자 한마디</h5>
                        <div class="bg-white memo-container color-gray">
                            <div class="memo explain-content blue-scroll"  > 한때 애용했던 친구들 덱 </div>
                        </div>

                        <!-- 좋아요 / 댓글 펼치기 -->
                        <div class="btns mg-10px ms-0 me-0 d-flex flex-fill justify-content-between">
                            <div class="btn-shadow d-flex justify-content-between w-100">
                                <button class="form-save-btn btn-cut bottom-btn btn-yellow color-white w-100"><i class="fa-solid fa-bookmark me-2"></i> 편성 저장</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="preview-detail-box-bottom d-flex flex-wrap">
            <form class="save-check">
                    <div class="form-status-check">
                        <div class="d-flex justify-content-between align-items-cente mb-1">
                            <h5>편성게시판 공개 여부</h5>
                            <div class="d-flex align-items-center">
                                <label class="charSetting-ele d-flex align-items-center">
                                    <span class="me-2">공개</span>
                                    <input type="radio" name="access" value="public" checked class="charPublic-checkbox">
                                    <span class="checkbox-img"></span>  
                                </label>
                                <label class="charSetting-ele d-flex align-items-center">
                                    <span class="me-2">비공개</span>
                                    <input type="radio" name="access" value="private" class="charPublic-checkbox" >
                                    <span class="checkbox-img"></span>  
                                </label>
                            </div>
                            
                        </div>
                        
                        <p class="msg">현재 편성이 공개 상태로 게시판에 올라갑니다. 누구나 게시판을 통해 볼 수 있습니다.</p>
                    </div>

                    <div class="myhero-access">
                        <label class="charSetting-ele d-flex mb-1">
                            <h5 class="me-2">나의 영웅들 공개하기</h5>
                            <input type="checkbox" name="character_public" class="charPublic-checkbox" >
                            <span class="checkbox-img"></span>  
                        </label>
                        <p class="msg">현재 작성자의 영웅 육성 상황이 공개됩니다.</p>
                    </div>

                
                    

                </form>
                <p>현재 조합한 편성으로 저장/게시 하시겠습니까?</p>

                <div class="btn-shadow btns">
                    <button class="cancel-btn btn-red btn-cut border-0 color-white">취소</button>
                    <button class="upload-btn btn-yellow btn-cut border-0 color-white">저장/게시</button>
                </div>
            </div>
        </div>
    </div>


    <div class="formmake-topcontainer d-flex flex-wrap">

        <div class="form-container shadow-basic">
            <div class="spinner-container d-flex justify-content-center align-items-center flex-column">
                <div class="spinner-blue"></div>
                <p class="">영웅들을 불러 모으는 중입니다... 잠시만 기다려주세요.</p>
            </div>
        <!-- 편성 조합 -->
            <!-- 상단바 -->
            <div class="form-title ">
                <dix class="form-status ">
                    <% if(!data.form_status || data.form_status.status_name == "편성 공유") {%>
                    <button type="button " class="btn-blue color-white border-0 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-angle-down"></i><p>편성 공유</p>
                    </button>

                    <ul>
                        <li class="btn-yellow color-white">편성 요청</li>
                    </ul>
                    <% } else{ %>
                        <button type="button " class="btn-yellow color-white border-0 d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-angle-down"></i><p>편성 요청</p>
                        </button>

                        <ul>
                            <li class="btn-blue color-white">편성 공유</li>
                        </ul>
                    <% }  %>
                </dix>

                <div class="content-name flex-fill">
                    <button type="button"  class="btn-black  color-yellow border-0 d-flex align-items-center">
                        <i class="fa-solid fa-angle-down"></i><p data-heronum="<%= data.now_content['num_of_heroes']%>"><%= data.now_content.kor_name %></p>
                    </button>

                    <ul>
                        <% for(let i=0; i<data.contents_list.length; i++){ %>
                            <% if(data.contents_list[i]['eng_name'] == "all"){ continue; } %>
                            <li class="btn-black color-white" 
                            data-engname="<%= data.contents_list[i]['eng_name']%>" data-heronum="<%= data.contents_list[i]['num_of_heroes']%>">
                                <%= data.contents_list[i]['kor_name']%>
                            </li>
                        <% } %>
                    </ul>

                </div>
            </div>

            <!-- 아래 컨텐츠 -->
            <div class="d-flex contents">
                
                <!-- 왼쪽 -->
                <div class="left-box">
                    <div class="d-flex align-items-end">
                        <div class="form-author bg-basicdark color-white">
                            작성자 
                            <% if(data.nickname){ %>
                            <span class="color-purple"><%= data.nickname %></span>
                            <% } else{ %>
                            <span class="color-white">비회원 작성중</span>
                            <% } %>
                        </div>
                    </div>
                    

                    
                    <form class="form-border-container d-flex align-items-center flex-wrap">
                        <input type="hidden" name="form_status" id="" value="">
                        <input type="hidden" name="content_name" id="" value="">
                        <h5 class="w-100">1 부대</h5>
                        <div class="form-char-container w-100 d-flex flex-wrap justify-content-center ">
                            <% for(let i=0; i<5; i++){ %>
                            <div class="character-10 form_spot">
                                <div class="select-liner">
                                    <div class="empty"><i class="fa-solid fa-plus color-gray"></i> </div>
                                    <input value="0"  name="hero" type="hidden"> 
                                </div>
                            </div>
                            <% } %>
                            <!-- <div class="character-10 form_spot">
                                <div class='spot-selected-full'></div>
                                <img src="../sources/img/out_char.png" alt="" class="out">                           
                                <div class="select-liner ">
                                    <img src="../sources/img/characters/dark_charlotte_warrior.png" >

                                    <span class="lv_dark lv">70</span>
                                    <span class="twogak gak">
                                            7
                                    </span>
                                </div>
                            </div> -->
                        </div>

                        <h5 class="w-100">2 부대</h5>
                        <div class="form-char-container w-100 d-flex flex-wrap justify-content-center ">
                            <% for(let i=0; i<5; i++){ %>
                            <div class="character-10 form_spot">
                                <div class="select-liner">
                                    <div class="empty"><i class="fa-solid fa-plus color-gray"></i> </div>
                                    <input value="0"  name="hero" type="hidden"> 
                                </div>
                            </div>
                            <% } %>
                            
                        </div>

                        <input type="hidden" name="myhero-public" value="false">
                    </form>
                    

                    <div class="left-box-bottom d-flex justify-content-start align-items-center">
                        <label class="charSetting-ele d-flex ">
                            <span class="me-2">나의 영웅들 공개하기</span>
                            <input type="checkbox" name="character_public" <% if(data.myhero_access == 0){%> <% }else{%> checked <% }%>class="charPublic-checkbox">
                            <span class="checkbox-img"></span>  
                        </label>
                        <div class="btn-shadow">
                            <button class="charSetting-btn  btn-cut btn-white">
                                영웅 설정 <i class="fa-solid fa-user-gear"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- 오른쪽 -->
                <div class="right-box">
                    <h6 class="explain-title d-flex align-items-end">작성자 한마디</h6>
                    <div class="bg-white memo-container color-gray">
                        <p class="cnt-text"><span><%=data.writer_memo.length %></span> / 1000</p>
                        <textarea class="memo explain-content blue-scroll" placeholder="한마디를 적어주세요"  maxlength="1000" ><%=data.writer_memo %></textarea>
                    </div>

                    <!-- 좋아요 / 댓글 펼치기 -->
                    <div class="btns mg-10px ms-0 me-0 d-flex flex-fill justify-content-between">
                        <% if(data.form_status){ %>
                        <div class="form-btns btn-shadow d-flex justify-content-between w-100">
                            <button class="save-btn w-100 btn-cut bottom-btn btn-yellow color-white">수정/게시 </button>
                        </div>
                        <% } else { %>
                        <div class="form-btns btn-shadow d-flex justify-content-between w-100">
                            <button class="load-btn btn-cut bottom-btn btn-blue color-white">불러오기 </button>
                            <button class="save-btn btn-cut bottom-btn btn-yellow color-white">저장/게시 </button>
                        </div>
                        <% }  %>
                    </div>
                </div>

            </div>

        </div>
    </div>
    



    <div class="filter-and-heroes shadow-filter-basic">
        <!-- 영웅 필터 -->
        <div class="hero-filter bg-basicdark ">
            <button class="filterreset btn-red btn-cut color-white">
                필터 초기화 <i class="fa-solid fa-rotate-right"></i> 
            </button>
            <h5>영웅 필터</h5>
            <div class="hero-namesearch">
                <h5>영웅 이름 검색</h5>
                <input type="text" name="hero_name_search" id="" class="hero-name-search color-black bg-lightgray">
                <i class="fa-solid fa-magnifying-glass color-black"></i>
            </div>
            <% if(data.nickname){ %>
            <div class="havinghero-check">
                <h6>
                    <label class=" d-flex align-items-center"> 
                        <span class="me-2 color-white">보유 영웅만 보이기</span> 
                        <input type="checkbox" name="character_public" class="charPublic-checkbox">
                        <span class="checkbox-img"></span>  
                    </label>
                </h6>
            </div>
            <% } %>
            <div class="sort-container ">
                <h5>영웅 정렬</h5>
                <div class="sort-badges select-badges d-flex justify-content-between">
                    <div class="filter-selected" data-sort="hero">영웅 순 <i class="fa-solid fa-caret-down"></i></div>
                    <div class="" data-sort="grade">등급 순 <i class="fa-solid fa-caret-down"></i></div>
                </div>
            </div>
            <div class="type-container">
                <h5>속성</h5>
                <div class="typeselecter d-flex ">
                    <img src="/sources/img/types/dark.png" alt="" class="">
                    <img src="/sources/img/types/fire.png" alt="" class="">
                    <img src="/sources/img/types/water.png" class="" alt="" >
                    <img src="/sources/img/types/grass.png" class="" alt="">
                    <img src="/sources/img/types/light.png" class="" alt="">
                </div>
            </div>
            <div class="class-container">
                <h5>클래스</h5>
                <div class="class-badges select-badges">
                    <div class="filter-selected">
                        <img src="/sources/img/classes/guardian.png"><p class="flex-fill">가디언</p> 
                    </div>
                    <div class="filter-selected">
                        <img src="/sources/img/classes/shooter.png"><p class="flex-fill">슈터</p> 
                    </div>
                    <div class="filter-selected">
                        <img src="/sources/img/classes/warrior.png"><p class="flex-fill">워리어</p> 
                    </div>
                    <div class="filter-selected">
                        <img src="/sources/img/classes/priest.png"><p class="flex-fill">프리스트</p> 
                    </div>
                    <div class="filter-selected">
                        <img src="/sources/img/classes/striker.png"><p class="flex-fill">스트라이커</p> 
                    </div>
                    <div class="filter-selected">
                        <img src="/sources/img/classes/commander.png"><p class="flex-fill">커맨더</p> 
                    </div>
                    

                </div>
            </div>

        </div>

        <!-- 영웅들 늘어진 칸 -->
        <div class="heroes-speread flex-fill bg-basicdark shadow-basic">
            <div class="mypage_link btn-shadow text-start">
                <a href="/mypage/myhero" class=" btn-cut btn-blue color-white">마이페이지 편집</a>
            </div>
            <div class="heroes-spread-container blue-scroll w-100">
                <% for(let i=0; i<data.hero_list.length; i++){ %>
                    <div class="character-list-box select-liner ">
                        <div class="character-list" >
                            <% if(data.having_heroes_id && data.having_heroes_id.includes(data.hero_list[i]["ID"])){ %>
                            <img src="/sources/img/characters/<%= data.hero_list[i].eng_type %>_<%= data.hero_list[i].eng_name %>_<%= data.hero_list[i].eng_class %>.png" 
                            alt="" data-id="<%= data.hero_list[i]["ID"] %>" data-korname="<%= data.hero_list[i].kor_name %>" data-type="<%=data.hero_list[i].eng_type%>"
                            onerror="this.onerror=null; this.src='/sources/img/characters/Chr_Error.png';">

                            <span class="lv_<%=data.hero_list[i].eng_type%> lv"><%=data.having_heroes[data.having_heroes_id.indexOf(data.hero_list[i]["ID"])].lv %></span>
                                <% if(data.having_heroes[data.having_heroes_id.indexOf(data.hero_list[i]["ID"])].gak == 0){ %>
                                <span class="nogak gak">
                                <% } else if(data.having_heroes[data.having_heroes_id.indexOf(data.hero_list[i]["ID"])].gak == 1){ %>
                                <span class="onegak gak">
                                <% } else if(data.having_heroes[data.having_heroes_id.indexOf(data.hero_list[i]["ID"])].gak == 2){ %>
                                <span class="twogak gak">
                                <% } %>

                                    <%=data.having_heroes[data.having_heroes_id.indexOf(data.hero_list[i]["ID"])].cho %>
                                </span>
                            <% } else if (data.having_heroes_id){ %>
                            <img src="/sources/img/characters/<%= data.hero_list[i].eng_type %>_<%= data.hero_list[i].eng_name %>_<%= data.hero_list[i].eng_class %>.png" 
                            alt="" data-id="<%= data.hero_list[i]["ID"] %>" data-korname="<%= data.hero_list[i].kor_name %>" data-type="<%=data.hero_list[i].eng_type%>"
                            onerror="this.onerror=null; this.src='/sources/img/characters/Chr_Error.png';" class="nothave">

                            <span class="lv_<%=data.hero_list[i].eng_type%> lv">0</span>
                            <span class="nogak gak">0</span>
                            <% } else { %>
                            <img src="/sources/img/characters/<%= data.hero_list[i].eng_type %>_<%= data.hero_list[i].eng_name %>_<%= data.hero_list[i].eng_class %>.png" 
                            alt="" data-id="<%= data.hero_list[i]["ID"] %>" data-korname="<%= data.hero_list[i].kor_name %>" data-type="<%=data.hero_list[i].eng_type%>"
                            onerror="this.onerror=null; this.src='/sources/img/characters/Chr_Error.png';" class="">
                            <% } %>
                        </div>
                    </div>
                <% } %>
                <!-- <div class="character-list-box select-liner">                      
                    <div class="character-list" >
                        <img src="../sources/img/characters/dark_charlotte_warrior.png" >

                        <span class="lv_dark lv">70</span>
                        <span class="twogak gak">
                                7
                        </span>
                    </div>
                </div> -->
                

            </div>
            
        </div>
    </div>
    <%- include('../footer.ejs') %> 
    <script>
        const having_heroes  = '<%- JSON.stringify(data.having_heroes) %>'? JSON.parse('<%- JSON.stringify(data.having_heroes) %>'): "";
        const having_heroes_id = '<%- JSON.stringify(data.having_heroes_id) %>'? JSON.parse('<%- JSON.stringify(data.having_heroes_id) %>') : "";
        const hero_list = JSON.parse('<%- JSON.stringify(data.hero_list) %>')
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/formmake/NowFormHeroes.js"></script>
    <script src="/js/formmake/HavingHeroes.js"></script>
    <script src="/js/LastDatetime.js"></script>
    <script src="/js/formmake/dropdownSet.js"></script>
    <script src="/js/formmake/pickHeroes.js"></script>
    <script src="/js/formmake/filterAndSort.js"></script>
    <script src="/js/formmake/heroSetting.js"></script>
    <script>

        window.onload = function(){
            
            NowFormHeroes.setter(JSON.parse('<%- JSON.stringify(data.form_herolist) %>').map((e) => {return parseInt(e)}));

            if($(".formmake-topcontainer .content-name button p").data("heronum") == 5) to5layout();
            else if ($(".formmake-topcontainer .content-name button p").data("heronum") == 10) to10layout();
            else to7layout();

            NowFormHeroes.addSelectedEffect();
            NowFormHeroes.addHeroesInForm();

            let spot = $('.form-container .form_spot').eq(0)
            if(spot.find(".empty").length>0){
                spot.prepend("<div class='spot-selected-empty'></div>");
            }else {
                spot.prepend('<img src="/sources/img/out_char.png" class="out">');
                spot.prepend("<div class='spot-selected-full'></div>");                   
            }

            $('.spinner-container').remove();

        }

        
    </script>

    <script>
        $(".form-btns .load-btn").on("click", function(e){
            e.preventDefault();
            location.href = "/mypage/loadmyform";
        })

        $(".form-btns .save-btn").on("click", function(e){
            e.preventDefault();
            if($(".nav-box .login").text().includes("로그인")){
                alert("로그인이 필요한 기능입니다. \n로그인하지 않고 공유하려면 주소창을 복사하세요.");
                return;
            }
            // 편성 상태
            let form_status = $(".formmake-topcontainer .form-title .form-status button p");
            $(".preview-detail-container .form-title .form-status button p").text(form_status.text());
            if(form_status.parent().hasClass("btn-blue")) $(".preview-detail-container .form-title .form-status button").removeClass("status-request").addClass("status-share");
            else $(".preview-detail-container .form-title .form-status button").removeClass("status-share").addClass("status-request");

            if(form_status.text().includes("요청") ){
                $(".save-check .form-status-check .msg").text("현재 편성이 편성 요청 전용 게시판에 올라갑니다. 공개 여부를 선택할 수 없습니다.")
                $(".save-check .form-status-check input[value='public']").prop("checked", true);
                $(".save-check .form-status-check input[name='access']").prop("disabled", true);
            }

            NowFormHeroes.addHeroesInPreview();

            // 작성자
            $(".preview-detail-container .form-author span").text($(".formmake-topcontainer .form-author span").text())
            // 컨텐츠
            $(".preview-detail-container .form-title .content-name p").text($(".formmake-topcontainer .form-title .content-name p").text())

            // 작성자 한마디
            $(".preview-detail-container .memo").text($(".formmake-topcontainer .memo").val())

            // 나의 영웅들 공개하기
            let myhero_access = $(".form-container .left-box-bottom .charPublic-checkbox").is(":checked");
            $(".save-check .myhero-access .charPublic-checkbox").prop("checked", myhero_access);
            // $(".save-check .myhero-access .charPublic-checkbox").prop("disabled", true);

            if(!myhero_access) {
                $(".myhero-access .msg").text("현재 작성자의 영웅 육성 상황이 공개되지 않습니다.")
                $(".preview-detail-container .select-liner span").addClass("invisible");
                $(".preview-detail-container .select-liner img").removeClass("nothave");
            }

            // 저장 일시
            LastDatetime.init()
            $(".preview-detail .form-detail-date").text(LastDatetime.dateFormating());


            $(".my-modal-bg").fadeIn();
            $(".preview-detail-container").fadeIn();
        })

        $(".save-check .form-status-check input[name='access']").on("change", function(){
            // if($(".form-title .form-status button p").text().includes("요청")) return false;
            if($(".save-check .form-status-check input[name='access']:checked").val() == "public"){
                $(".save-check .form-status-check .msg").text("현재 편성이 공개 상태로 게시판에 올라갑니다. 누구나 게시판을 통해 볼 수 있습니다.")
                $(".preview-detail-container .content-name i").addClass("invisible")
            } else{
                $(".save-check .form-status-check .msg").text("현재 편성이 마이페이지에 저장됩니다. 편성을 저장한 현재 작성자가 아니면 아무도 편성을 볼 수 없습니다.")
                $(".preview-detail-container .content-name i").removeClass("invisible")
            }   
            
        })

        $(".preview-detail-container .myhero-access .charPublic-checkbox").on("change", function(e){
            $(".preview-detail-container .select-liner span").toggleClass("invisible");

            if ($(".preview-detail-container .myhero-access .charPublic-checkbox").is(":checked")){
                $(".myhero-access .msg").text("현재 작성자의 영웅 육성 상황이 공개됩니다.")
            } else {
                $(".myhero-access .msg").text("현재 작성자의 영웅 육성 상황이 공개되지 않습니다.")
            }
                
        })


        $(".preview-detail-container .cancel-btn").on("click", function(e){
            e.preventDefault();
            $(".my-modal-bg").fadeOut();
            $(".preview-detail-container").fadeOut();
        })

        $(".preview-detail-container .upload-btn").on("click", function(e){
            e.preventDefault();
            
            var newForm = $('<form></form>');
            newForm.attr("method","post");
            newForm.attr("action",`${window.location.pathname}/postform`);
            
            
            // 편성 상태 (공유,요청 / 공개,비공개)
            newForm.append(`<input name="form_status" type="hidden" value="${$(".preview-detail-container  .form-status button p").text()}">`);
            newForm.append(`<input name="form_access" type="hidden" value="${$(".preview-detail-container  .save-check input[name='access']:checked").val()}">`);

            // 컨텐츠 이름
            newForm.append(`<input name="content_name" type="hidden" value="${$(".preview-detail-container .content-name button p").text()}">`);

            // 편성 칸 정보
            for(let i=0; i<NowFormHeroes.getter().length; i++){
                newForm.append(`<input name="hero" type="hidden" value="${NowFormHeroes.getter()[i]}">`);
            }
            // 나의 영웅들 공개하기 여부
            newForm.append(`<input name="myhero_access" type="hidden" value="${$(".preview-detail-container  .myhero-access .charPublic-checkbox").is(":checked")}">`);

            // 작성자 한마디
            newForm.append(`<input name="writer_memo" type="hidden" value="${$(".preview-detail-container .memo-container .memo").text()}">`);


            // 저장 일시
            newForm.append(`<input name="last_datetime" type="hidden" value="${LastDatetime.dateFormating()}">`);

            newForm.appendTo('body');
            newForm.submit();
        })

        $(document).on('click', function(e){
            // 빈 곳 클릭하면 영웅 설정 꺼짐
            if(!$(e.target).closest(".hero-setting").length>0
            && !$(e.target).closest(".charSetting-btn").length>0
            ){
                $(".hero-setting-container").fadeOut();
            }

            // 빈 곳 클릭하면 영웅 설정 꺼짐
            if(!$(e.target).closest(".preview-detail-container").length>0
            && !$(e.target).closest(".form-btns .save-btn").length>0
            ){
                $(".my-modal-bg").fadeOut();
                $(".preview-detail-container").fadeOut();
            }
        });

        $(".memo").on('propertychange change keyup paste input', function(){
            let content = $(this).val();
            
            // 주소창에 업데이트하고
            const url = new URL(window.location.href);
            url.searchParams.set("writer_memo", content);
            window.history.replaceState(null, '', url.toString());

            // 글자수 세기
            if (content.length == 0 || content == '') {
                $('.memo-container .cnt-text span').text('0');
            } else {
                $('.memo-container .cnt-text span').text(content.length);
            }
            
            // 글자수 제한
            if (content.length > 1000) {
                // 200자 부터는 타이핑 되지 않도록
                $(this).val($(this).val().substring(0, 1000));
            };
        })


        /**
         * 영웅 설정 부분
         **/
        $(".charSetting-btn").on('click', function(){
            if($('.nav-box .login').text().includes("로그인")){
                alert("영웅을 설정하려면 로그인 해야 합니다.")
            }
            // 선택된 캐릭터 없으면 alert
            else if($(".spot-selected-full").length <= 0){
                alert("먼저 설정할 영웅을 선택하세요.")
            }

            selectHeroSetting($(".spot-selected-full").siblings(".select-liner"));
            $('.hero-setting-container').fadeIn();
        })

        $('.hero-setting-container .close').on('click', function(){
            $('.hero-setting-container').fadeOut();
        })

        $(document).ready(function(){
        $(document).on('click', '.setting-normal-submit', function(e){
            e.preventDefault();
            const query = $('.setting-form form').serializeArray();
            // console.log(query)

            $.ajax({
                    url: '/herosetting/normalsave', 
                    method: 'POST', 
                    contentType: 'application/json',
                    data: JSON.stringify({ 
                        lv : query[1].value,
                        cho : query[2].value,
                        gak : query[3].value,
                        hero : query[0].value, 
                    }),
                    
                    // 요청 성공 
                    success: function(res) {
                        if(res.status.includes('2')){
                            // 영웅 설정 종료
                            $('.hero-setting-container').fadeOut();

                            // 보유 영웅 리스트 다시 세팅
                            HavingHeroes.setter(res.data.having_heroes);
                            HavingHeroes.setter_id(res.data.having_heroes_id);

                            // 필터 다시 출력
                            hero_filter();

                            // 편성 UI 다시 표시
                            NowFormHeroes.addHeroesInForm();
                        } else{
                            // DB 오류
                            alert(res.message);
                        }
                    },                        
                    
                    error: function(xhr, status, error) {
                        // 오류 
                        alert(`오류 발생! 다시 시도하세요. ${status} - ${error}`);
                        console.error('Error:', status, error);
                    }
                });

        })

        $(document).on('click', '.setting-all-submit', function(e){
            e.preventDefault();
            const query = $('.setting-form form').serializeArray();
            // console.log(query)

            $.ajax({
                    url: '/herosetting/allsave', 
                    method: 'POST', 
                    contentType: 'application/json',
                    data: JSON.stringify({ 
                        lv : query[1].value,
                        cho : query[2].value,
                        gak : query[3].value,
                    }),
                    
                    // 요청 성공 
                    success: function(res) {
                        if(res.status.includes('2')){
                            // 영웅 설정 종료
                            $('.hero-setting-container').fadeOut();

                            // 보유 영웅 리스트 다시 세팅
                            HavingHeroes.setter(res.data.having_heroes);
                            HavingHeroes.setter_id(res.data.having_heroes_id);

                            // 필터 다시 출력
                            hero_filter();

                            // 편성 UI 다시 표시
                            NowFormHeroes.addHeroesInForm();
                        } else{
                            // DB 오류
                            alert(res.message);
                        }
                    },
                    
                    error: function(xhr, status, error) {
                        // 오류 
                        alert(`오류 발생! 다시 시도하세요. ${status} - ${error}`);
                        console.error('Error:', status, error);
                    }
                });

        })

        $('.hero-setting-form' ).on('submit',function(e){    
            e.preventDefault();

        })
    })
        

    </script>

</body>
</html>