<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기사단 편성</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">  
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/lv_badges.css" rel="stylesheet">
    <link href="/css/form_making.css" rel="stylesheet">
    <link href="/css/hero_setting.css" rel="stylesheet">
</head>
<body>
    <%- include('../nav_and_banner.ejs', {page: ' ', nickname: data.nickname, notice:'2025.08.01 신규 캐릭터 [물]라플라스 추가 완료'}) %> 


    <!-- 영웅 설정 모달 -->
   

    <!-- 저장/게시 누르고 확인 -->
    <div class="madal-background">
        <form class="save-check">
            <div class="form-status">
                <h5>편성 상태</h5>
                <p class="form-status-txt">편성 공유</p>
                <label>공개 <input type="radio" name="access" value="public" checked id=""></label>
                <label>비공개 <input type="radio" name="access" value="private" id="" ></label>
                <p class="msg">현재 편성이 마이페이지에 저장됩니다. 편성을 저장한 현재 작성자가 아니면 아무도 편성을 볼 수 없습니다.</p>
            </div>
            

            <div class="content">
                <h5>컨텐츠</h5>
                <p class="content-text">아레나</p>
            </div>


            <div class="last-datetime">
                <p>저장 일시</p>
                <p class="now-datetime">2025-10-30 15:26</p>
            </div>
            

            <div class="btn-shadow">
                <button type="button" class=" cancel-btn">취소</button>
                <button type="button" class="upload-btn">저장/게시</button>
            </div>
            

        </form>
    </div>


    <div class="formmake-topcontainer d-flex flex-wrap">
        <!-- 편성 요청 글 -->
        <div class="askform-container shadow-basic" data-myheroaccess = "<%= data.myhero_access %>">
            <!-- 상단바 -->
            <div class="form-title ">
                <dix class="form-status ">
                    <div class="bg-orange color-white border-0 d-flex align-items-center justify-content-center">
                        <p>편성 요청</p>
                    </div>   
                </dix>

                <div class="content-name flex-fill">
                    <div  class="bg-basicdark  color-yellow border-0 d-flex align-items-center">
                        <p><%= data.now_content.kor_name %></p>
                    </div>
                </div>
            </div>

            <div class="contents">
                <div class="d-flex align-items-end">
                    <div class="form-author bg-basicdark color-white">
                        작성자 <span class="color-purple"><%= data.writer %></span>
                    </div>
                </div>
                <form class="form-border-container d-flex align-items-center flex-wrap">
                    <% if (data.members.length == 5){ %>
                        <div class="form-char-container w-100 d-flex flex-wrap justify-content-center ">
                            <% for(let i=0; i<data.members.length; i++){ %>
                                <div class="character-5 form_spot">
                                    <%- include('../components/one_hero_on_form.ejs', {
                                        i : i,
                                        data : {
                                        members : data.members,
                                        myheroaccess: data.myhero_access
                                    }}) %> 
                                </div>
                            <% } %>
                        </div>
                    <% } else if  (data.members.length == 10){  %>
                    <h5 class="w-100">1 부대</h5>
                    <div class="form-char-container w-100 d-flex flex-wrap justify-content-center ">
                        <% for(let i=0; i<5; i++){ %>
                            <div class="character-10 form_spot">
                                <%- include('../components/one_hero_on_form.ejs', {
                                    i : i,
                                    data : {
                                    members : data.members,
                                    myheroaccess: data.myhero_access
                                }}) %> 
                            </div>
                        <% } %>
                    </div>
                    <h5 class="w-100">2 부대</h5>
                    <div class="form-char-container w-100 d-flex flex-wrap justify-content-center ">
                        <% for(let i=5; i<data.members.length; i++){ %>
                        <div class="character-10 form_spot">
                            <%- include('../components/one_hero_on_form.ejs', {
                                i : i,
                                data : {
                                members : data.members,
                                myheroaccess: data.myhero_access
                            }}) %> 
                        </div>
                        <% } %>
                        
                    </div>
                    <% } else if  (data.members.length == 7){  %>
                        <div class="form-char-container w-100 d-flex flex-wrap justify-content-center ">
                        <% for(let i=0; i<data.members.length; i++){ %>
                            <div class="character-7 form_spot">
                                <%- include('../components/one_hero_on_form.ejs', {
                                    i : i,
                                    data : {
                                    members : data.members,
                                    myheroaccess: data.myhero_access
                                }}) %> 
                            </div>
                            <% if(i == 2){ %>
                            <div class="change-line"></div>
                            <% } %>
                        <% } %>
                        
                        </div>
                    <% }%>
                </form>

                    
                <div class="bg-white memo-container color-gray">
                    <div class="memo explain-content" ><%=data.writer_memo %></div>
                </div>
            </div>    

        </div>

        <div class="form-container shadow-basic">
            <div class="spinner-container d-flex justify-content-center align-items-center flex-column">
                <div class="spinner-blue"></div>
                <p class="">영웅들을 불러 모으는 중입니다... 잠시만 기다려주세요.</p>
            </div>
        <!-- 편성 조합 -->
            <!-- 상단바 -->
            <div class="form-title ">
                <dix class="form-status ">
                    <button type="button " class="btn-green color-white border-0 d-flex align-items-center justify-content-center">
                        <p>편성 도움</p>
                    </button>
                </dix>

                <div class="content-name flex-fill">
                    <button type="button"  class="btn-black  color-yellow border-0 d-flex align-items-center">
                        <p data-heronum="<%= data.now_content['num_of_heroes']%>"><%= data.now_content.kor_name %></p>
                    </button>
                </div>
            </div>

            <!-- 아래 컨텐츠 -->
            <div class="d-flex contents">
                
                <!-- 왼쪽 -->
                <div class="left-box">
                    <div class="d-flex align-items-end">
                        <div class="form-author bg-basicdark color-white">
                            작성자 
                            <% if(data.nickname){ %>
                            <span class="color-purple"><%= data.nickname %></span>
                            <% } else{ %>
                            <span class="color-white">비회원 작성중</span>
                            <% } %>
                        </div>
                    </div>
                    

                    
                    <form class="form-border-container d-flex align-items-center flex-wrap">
                        <input type="hidden" name="form_status" id="" value="">
                        <input type="hidden" name="content_name" id="" value="">
                        <h5 class="w-100">1 부대</h5>
                        <div class="form-char-container w-100 d-flex flex-wrap justify-content-center ">
                            <% for(let i=0; i<5; i++){ %>
                            <div class="character-10 form_spot">
                                <div class="select-liner">
                                    <div class="empty"><i class="fa-solid fa-plus color-gray"></i> </div>
                                    <input value="0"  name="hero" type="hidden"> 
                                </div>
                            </div>
                            <% } %>
                            <!-- <div class="character-10 form_spot">
                                <div class='spot-selected-full'></div>
                                <img src="../sources/img/out_char.png" alt="" class="out">                           
                                <div class="select-liner ">
                                    <img src="../sources/img/characters/dark_charlotte_warrior.png" >

                                    <span class="lv_dark lv">70</span>
                                    <span class="twogak gak">
                                            7
                                    </span>
                                </div>
                            </div> -->
                        </div>

                        <h5 class="w-100">2 부대</h5>
                        <div class="form-char-container w-100 d-flex flex-wrap justify-content-center ">
                            <% for(let i=0; i<5; i++){ %>
                            <div class="character-10 form_spot">
                                <div class="select-liner">
                                    <div class="empty"><i class="fa-solid fa-plus color-gray"></i> </div>
                                    <input value="0"  name="hero" type="hidden"> 
                                </div>
                            </div>
                            <% } %>
                            
                        </div>

                        <input type="hidden" name="myhero-public" value="false">
                    </form>
                    

                    <div class="left-box-bottom d-flex justify-content-start align-items-center">
                        
                    </div>
                </div>

                <!-- 오른쪽 -->
                <div class="right-box">
                    <h6 class="explain-title d-flex align-items-end">작성자 한마디</h6>
                    <div class="bg-white memo-container color-gray">
                        <p class="cnt-text"><span>0</span> / 1000</p>
                        <textarea class="memo explain-content" placeholder="한마디를 작성하세요. 편성도움에서는 한마디가 댓글 본문이 됩니다."  maxlength="1000" ><%=data.helper_memo %></textarea>
                    </div>

                    <!-- 좋아요 / 댓글 펼치기 -->
                    <div class="btns mg-10px ms-0 me-0 d-flex flex-fill justify-content-between">
                        <div class="form-btns btn-shadow d-flex justify-content-between w-100">
                            <button class="load-btn btn-cut bottom-btn btn-blue color-white">불러오기 </button>
                            <button class="save-btn btn-cut bottom-btn btn-yellow color-white">저장/게시 </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    



    <div class="filter-and-heroes shadow-filter-basic">
        <!-- 영웅 필터 -->
        <div class="hero-filter bg-basicdark ">
            <button class="filterreset btn-red btn-cut color-white">
                필터 초기화 <i class="fa-solid fa-rotate-right"></i> 
            </button>
            <h5>영웅 필터</h5>
            <div class="hero-namesearch">
                <h5>영웅 이름 검색</h5>
                <input type="text" name="hero_name_search" id="" class="hero-name-search color-black bg-lightgray">
                <i class="fa-solid fa-magnifying-glass color-black"></i>
            </div>
            <% if(data.nickname){ %>
            <div class="havinghero-check">
                <h6>
                    <label class=" d-flex align-self-center"> 
                        <span class="me-2 color-white">보유 영웅만 보이기</span> 
                        <input type="checkbox" name="character_public" class="charPublic-checkbox">
                        <span class="checkbox-img"></span>  
                    </label>
                </h6>
            </div>
            <% } %>
            <div class="sort-container ">
                <h5>영웅 정렬</h5>
                <div class="sort-badges select-badges d-flex justify-content-between">
                    <div class="filter-selected" data-sort="hero">영웅 순 <i class="fa-solid fa-caret-down"></i></div>
                    <div class="" data-sort="grade">등급 순 <i class="fa-solid fa-caret-down"></i></div>
                </div>
            </div>
            <div class="type-container">
                <h5>속성</h5>
                <div class="typeselecter d-flex ">
                    <img src="/sources/img/types/dark.png" alt="" class="">
                    <img src="/sources/img/types/fire.png" alt="" class="">
                    <img src="/sources/img/types/water.png" class="" alt="" >
                    <img src="/sources/img/types/grass.png" class="" alt="">
                    <img src="/sources/img/types/light.png" class="" alt="">
                </div>
            </div>
            <div class="class-container">
                <h5>클래스</h5>
                <div class="class-badges select-badges">
                    <div class="filter-selected">
                        <img src="/sources/img/classes/guardian.png"><p class="flex-fill">가디언</p> 
                    </div>
                    <div class="filter-selected">
                        <img src="/sources/img/classes/shooter.png"><p class="flex-fill">슈터</p> 
                    </div>
                    <div class="filter-selected">
                        <img src="/sources/img/classes/warrior.png"><p class="flex-fill">워리어</p> 
                    </div>
                    <div class="filter-selected">
                        <img src="/sources/img/classes/priest.png"><p class="flex-fill">프리스트</p> 
                    </div>
                    <div class="filter-selected">
                        <img src="/sources/img/classes/striker.png"><p class="flex-fill">스트라이커</p> 
                    </div>
                    <div class="filter-selected">
                        <img src="/sources/img/classes/commander.png"><p class="flex-fill">커맨더</p> 
                    </div>
                    

                </div>
            </div>

        </div>

        <!-- 영웅들 늘어진 칸 -->
        <div class="heroes-speread flex-fill bg-basicdark shadow-basic">

            <div class="heroes-spread-container blue-scroll w-100">
                <% for(let i=0; i<data.hero_list.length; i++){ %>
                    <div class="character-list-box select-liner ">
                        <div class="character-list" >
                            <% if(data.having_heroes_id && data.having_heroes_id.includes(data.hero_list[i]["ID"])){ %>
                            <img src="/sources/img/characters/<%= data.hero_list[i].eng_type %>_<%= data.hero_list[i].eng_name %>_<%= data.hero_list[i].eng_class %>.png" 
                            alt="" data-id="<%= data.hero_list[i]["ID"] %>" data-korname="<%= data.hero_list[i].kor_name %>" data-type="<%=data.hero_list[i].eng_type%>"
                            onerror="this.onerror=null; this.src='/sources/img/characters/Chr_Error.png';">

                            <span class="lv_<%=data.hero_list[i].eng_type%> lv"><%=data.having_heroes[data.having_heroes_id.indexOf(data.hero_list[i]["ID"])].lv %></span>
                                <% if(data.having_heroes[data.having_heroes_id.indexOf(data.hero_list[i]["ID"])].gak == 0){ %>
                                <span class="nogak gak">
                                <% } else if(data.having_heroes[data.having_heroes_id.indexOf(data.hero_list[i]["ID"])].gak == 1){ %>
                                <span class="onegak gak">
                                <% } else if(data.having_heroes[data.having_heroes_id.indexOf(data.hero_list[i]["ID"])].gak == 2){ %>
                                <span class="twogak gak">
                                <% } %>

                                    <%=data.having_heroes[data.having_heroes_id.indexOf(data.hero_list[i]["ID"])].cho %>
                                </span>
                            <% } else if (data.having_heroes_id){ %>
                            <img src="/sources/img/characters/<%= data.hero_list[i].eng_type %>_<%= data.hero_list[i].eng_name %>_<%= data.hero_list[i].eng_class %>.png" 
                            alt="" data-id="<%= data.hero_list[i]["ID"] %>" data-korname="<%= data.hero_list[i].kor_name %>" data-type="<%=data.hero_list[i].eng_type%>"
                            onerror="this.onerror=null; this.src='/sources/img/characters/Chr_Error.png';" class="nothave">

                            <span class="lv_<%=data.hero_list[i].eng_type%> lv">0</span>
                            <span class="nogak gak">0</span>
                            <% } else { %>
                            <img src="/sources/img/characters/<%= data.hero_list[i].eng_type %>_<%= data.hero_list[i].eng_name %>_<%= data.hero_list[i].eng_class %>.png" 
                            alt="" data-id="<%= data.hero_list[i]["ID"] %>" data-korname="<%= data.hero_list[i].kor_name %>" data-type="<%=data.hero_list[i].eng_type%>"
                            onerror="this.onerror=null; this.src='/sources/img/characters/Chr_Error.png';" class="">
                            <% } %>
                        </div>
                    </div>
                <% } %>
                <!-- <div class="character-list-box select-liner">                      
                    <div class="character-list" >
                        <img src="../sources/img/characters/dark_charlotte_warrior.png" >

                        <span class="lv_dark lv">70</span>
                        <span class="twogak gak">
                                7
                        </span>
                    </div>
                </div> -->
                

            </div>
            
        </div>
    </div>

    <script>
        class NowFormHeroes{
            static heroes_arr = new Array(10).fill(0);

            static setter(arr){
                this.heroes_arr = arr;
                return this.heroes_arr;
            }
            
            static getter(arr){
                return this.heroes_arr;
            }

            static oneHeroSet(idx, hero_id){
                hero_id = parseInt(hero_id);
                this.heroes_arr[idx] = hero_id;
                return this.heroes_arr;
            }
            
            static removeByHeroId(hero_id){
                if(hero_id == 0) return Hthis.heroes_arr;
                hero_id = parseInt(hero_id);
                this.heroes_arr[this.heroes_arr.indexOf(hero_id)] = 0;
                return this.heroes_arr;
            }

            static init(num_of_heroes){
                this.heroes_arr = new Array(parseInt(num_of_heroes)).fill(0);
                return this.heroes_arr;
            }

            // 지금 선택되어 있는 게 몇 번째인지 반환
            static indexOfFormSpot(){
                let now_selected 
                if($(".spot-selected-full").length > 0) now_selected = $(".spot-selected-full").parent();
                else now_selected = $(".spot-selected-empty").parent();

                let idx = $('.form-container .form_spot').index(now_selected);
                return idx;
            }

            /**
             * 편성에 들어있는 영웅들에 선택된 이펙트 추가해줌.
             **/ 
            static addSelectedEffect(){
                $('.character-list-box .form-selected').remove();
                for(let i=0; i<this.heroes_arr.length; i++){
                    $(`.character-list img[data-id = "${this.heroes_arr[i]}"]`).parent().before(`<div class="form-selected"><i class="fa-solid fa-plus color-gray"></i> </div> `);
                }
            }

            /**
             * 현재 선택된 자리만 리로드
             **/
            static reloadOnlySelected(){
                let i = this.indexOfFormSpot();
                let spot = $('.form-container .form_spot .select-liner').eq(i)
                // spot.empty();
                if(this.heroes_arr[i] == 0 || i > this.heroes_arr.length - 1){
                    spot.html(`<div class="empty"><i class="fa-solid fa-plus color-gray"></i> </div>
                                <input value="0"  name="hero" type="hidden"> `);
                } else {
                    spot.html(`<input value="${this.heroes_arr[i]}"  name="hero" type="hidden">`)
                    let img = $(`.character-list img[data-id="${this.heroes_arr[i]}"]`).parent().children().clone().appendTo(spot);
                }
            }

            /**
             * heroes_arr에 저장된대로 편성 ui에 넣어줌
             **/
            static addHeroesInForm(){
                for(let i=0; i<$('.form-container .form_spot .select-liner').length; i++){
                    let spot = $('.form-container .form_spot .select-liner').eq(i)
                    spot.empty();
                    if(this.heroes_arr[i] == 0 || i > this.heroes_arr.length - 1){
                        spot.append(`<div class="empty"><i class="fa-solid fa-plus color-gray"></i> </div>
                                    <input value="0"  name="hero" type="hidden"> `);
                    } else {
                        let img = $(`.character-list img[data-id="${this.heroes_arr[i]}"]`).parent().children().clone().appendTo(spot);
                        spot.append(`<input value="${img.data('id')}"  name="hero" type="hidden">`)
                    }
                }
            }

            /**
             * 편성 ui에 있는 영웅들을 hero_arr에 담음
             **/ 
            static addHeroesInArr(){
                for(let i=0; i<this.heroes_arr.length; i++){
                    if(i > $('.form-container .form_spot input').length - 1)
                        this.oneHeroSet(i, 0);
                    else 
                        this.oneHeroSet(i, $('.form-container .form_spot input').eq(i).val());
                    
                }
            }

            /**
             * 현재 편성 상태로 영웅 쿼리스트링 만들어서 주소창에 적어주기
             **/
            static makeQueryString(){
                const url = new URL(window.location.href);
                url.searchParams.delete("hero");
                for(let i=0; i<this.heroes_arr.length; i++){
                    url.searchParams.append("hero", this.heroes_arr[i]);
                }
                window.history.replaceState(null, '', url.toString())
            }
            
        }

        /**
         * DB에서 받아온 원본을 훼손하지 않고 저장하는 클래스
         */
        class HavingHeroes{
            static having_heroes  = '<%- JSON.stringify(data.having_heroes) %>'? JSON.parse('<%- JSON.stringify(data.having_heroes) %>'): "";
            static having_heroes_id = '<%- JSON.stringify(data.having_heroes_id) %>'? JSON.parse('<%- JSON.stringify(data.having_heroes_id) %>') : "";
            static hero_list = JSON.parse('<%- JSON.stringify(data.hero_list) %>')

            static setter(heroes){
                this.having_heroes = heroes;
                return this.having_heroes;
            }

            static getter(){
                return this.having_heroes;
            }

            static setter_id(idxes){
                this.having_heroes_id = idxes;
                return this.having_heroes_id;
            }

            static getter_id(){
                return this.having_heroes_id;
            }

            static hero_list_getter(){
                return this.hero_list;
            }
        }

        
        /**
         * 저장/게시 DATETIME 저장
         **/ 
        class LastDatetime{
            static now;

            static init(){
                this.now = new Date();
                return this.now;
            }

            static dateFormating(){
                return this.now.getFullYear()+"-"+("0"+(this.now.getMonth()+1)).slice(-2) + "-" + ("0"+(this.now.getDate())).slice(-2) + " " +  ("0"+(this.now.getHours())).slice(-2) + ":" +  ("0"+(this.now.getMinutes())).slice(-2)  + ":" +  ("0"+(this.now.getSeconds())).slice(-2)
            }
        }

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/formmake/dropdownSet.js"></script>
    <script src="/js/formmake/pickHeroes.js"></script>
    <script src="/js/formmake/filterAndSort.js"></script>
    <script src="/js/formmake/heroSetting.js"></script>
    <script>

        window.onload = function(){
            NowFormHeroes.setter(JSON.parse('<%- JSON.stringify(data.form_herolist) %>').map((e) => {return parseInt(e)}));

            if($(".content-name button p").data("heronum") == 5) to5layout();
            else if ($(".content-name button p").data("heronum") == 10) to10layout();
            else to7layout();

            NowFormHeroes.addSelectedEffect();
            NowFormHeroes.addHeroesInForm();

            let spot = $('.form-container .form_spot').eq(0)
            if(spot.find(".empty").length>0){
                spot.prepend("<div class='spot-selected-empty'></div>");
            }else {
                spot.prepend('<img src="/sources/img/out_char.png" class="out">');
                spot.prepend("<div class='spot-selected-full'></div>");                   
            }

            $('.spinner-container').remove();

        }

        
    </script>

    <script>
        $(".form-btns .load-btn").on("click", function(e){
            e.preventDefault();
            location.href = "/mypage/formsave";
        })

        $(".form-btns .save-btn").on("click", function(e){
            e.preventDefault();

            if($(".nav-box .login").text().includes("로그인")){
                alert("로그인이 필요한 기능입니다. \n로그인하지 않고 공유하려면 주소창을 복사하세요.");
                return;
            }
            // 편성 상태
            let form_status = $(".form-title .form-status button p").text();
            $(".save-check .form-status-txt").text(form_status);
            $(".save-check .form-status .msg").text("현재 편성이 편성 요청 게시물의 댓글로 게시됩니다. 공개 여부를 선택할 수 없습니다.")
            $(".save-check .form-status input[value='public']").prop("checked", true);
            $(".save-check .form-status input[name='access']").prop("disabled", true);
            // $(".save-check .form-status .msg").text("현재 편성이 저장됩니다. 공개 여부를 선택하세요.")
            
            // 컨텐츠
            $(".save-check .content-text").text($(".form-title .content-name button p").text())

            // 저장 일시
            LastDatetime.init()
            $(".save-check .now-datetime").text(LastDatetime.dateFormating());


            $(".madal-background").fadeIn();
            $(".save-check").fadeIn();
        })

        $(".save-check .form-status input[name='access']").on("change", function(){
            // if($(".form-title .form-status button p").text().includes("요청")) return false;
            
            // console.log("여기까지")
            if($(".save-check .form-status input[name='access']:checked").val() == "public"){
                $(".save-check .form-status .msg").text("현재 편성이 공개 상태로 게시판에 올라갑니다. 누구나 게시판을 통해 볼 수 있습니다.")
            } else{
                $(".save-check .form-status .msg").text("현재 편성이 마이페이지에 저장됩니다. 편성을 저장한 현재 작성자가 아니면 아무도 편성을 볼 수 없습니다.")

            }
            
        })


        $(".save-check .cancel-btn").on("click", function(e){
            e.preventDefault();
            $(".madal-background").fadeOut();
            $(".save-check").fadeOut();
        })

        $(".save-check .upload-btn").on("click", function(e){
            e.preventDefault();
            
            var newForm = $('<form></form>');
            newForm.attr("method","post");
            newForm.attr("action",`${window.location.pathname}/postform`);
            
            
            // 편성 상태 (공유,요청 / 공개,비공개)
            newForm.append(`<input name="form_status" type="hidden" value="편성 도움">`);
            newForm.append(`<input name="form_access" type="hidden" value="public">`);

            // 컨텐츠 이름
            newForm.append(`<input name="content_name" type="hidden" value="${$(".askform-container .form-title .content-name div p").text()}">`);

            // 편성 칸 정보
            for(let i=0; i<NowFormHeroes.getter().length; i++){
                newForm.append(`<input name="hero" type="hidden" value="${NowFormHeroes.getter()[i]}">`);
            }
            // 나의 영웅들 공개하기 여부
            newForm.append(`<input name="myhero_access" type="hidden" value="${$(".askform-container").data("myheroaccess") == 1}">`);

            // 작성자 한마디
            newForm.append(`<input name="writer_memo" type="hidden" value="${$(".form-container  .memo-container .memo").val()}">`);


            // 저장 일시
            newForm.append(`<input name="last_datetime" type="hidden" value="${LastDatetime.dateFormating()}">`);

            newForm.appendTo('body');
            newForm.submit();
        })

        $(document).on('click', function(e){
            // 빈 곳 클릭하면 영웅 설정 꺼짐
            if(!$(e.target).closest(".hero-setting").length>0
            && !$(e.target).closest(".charSetting-btn").length>0
            ){
                $(".hero-setting-container").fadeOut();
            }

            // 빈 곳 클릭하면 영웅 설정 꺼짐
            if(!$(e.target).closest(".save-check").length>0
            && !$(e.target).closest(".form-btns .save-btn").length>0
            ){
                $(".madal-background").fadeOut();
                $(".save-check").fadeOut();
            }
        });

        $(".memo").on('propertychange change keyup paste input', function(){
            let content = $(this).val();
            
            // 주소창에 업데이트하고
            const url = new URL(window.location.href);
            url.searchParams.set("writer_memo", content);
            window.history.replaceState(null, '', url.toString());

            // 글자수 세기
            if (content.length == 0 || content == '') {
                $('.memo-container .cnt-text span').text('0');
            } else {
                $('.memo-container .cnt-text span').text(content.length);
            }
            
            // 글자수 제한
            if (content.length > 1000) {
                // 200자 부터는 타이핑 되지 않도록
                $(this).val($(this).val().substring(0, 1000));
            };
        })


        /**
         * 영웅 설정 부분
         **/
        $(".charSetting-btn").on('click', function(){
            if($('.nav-box .login').text().includes("로그인")){
                alert("영웅을 설정하려면 로그인 해야 합니다.")
            }
            // 선택된 캐릭터 없으면 alert
            else if($(".spot-selected-full").length <= 0){
                alert("먼저 설정할 영웅을 선택하세요.")
            }

            selectHeroSetting($(".spot-selected-full").siblings(".select-liner"));
            $('.hero-setting-container').fadeIn();
        })

        $('.hero-setting-container .close').on('click', function(){
            $('.hero-setting-container').fadeOut();
        })

        $(document).ready(function(){
        $(document).on('click', '.setting-normal-submit', function(e){
            e.preventDefault();
            const query = $('.setting-form form').serializeArray();
            // console.log(query)

            $.ajax({
                    url: '/herosetting/normalsave', 
                    method: 'POST', 
                    contentType: 'application/json',
                    data: JSON.stringify({ 
                        lv : query[1].value,
                        cho : query[2].value,
                        gak : query[3].value,
                        hero : query[0].value, 
                    }),
                    
                    // 요청 성공 
                    success: function(res) {
                        if(res.status.includes('2')){
                            // 영웅 설정 종료
                            $('.hero-setting-container').fadeOut();

                            // 보유 영웅 리스트 다시 세팅
                            HavingHeroes.setter(res.data.having_heroes);
                            HavingHeroes.setter_id(res.data.having_heroes_id);

                            // 필터 다시 출력
                            hero_filter();

                            // 편성 UI 다시 표시
                            NowFormHeroes.addHeroesInForm();
                        } else{
                            // DB 오류
                            alert(res.message);
                        }
                    },                        
                    
                    error: function(xhr, status, error) {
                        // 오류 
                        alert(`오류 발생! 다시 시도하세요. ${status} - ${error}`);
                        console.error('Error:', status, error);
                    }
                });

        })

        $(document).on('click', '.setting-all-submit', function(e){
            e.preventDefault();
            const query = $('.setting-form form').serializeArray();
            // console.log(query)

            $.ajax({
                    url: '/herosetting/allsave', 
                    method: 'POST', 
                    contentType: 'application/json',
                    data: JSON.stringify({ 
                        lv : query[1].value,
                        cho : query[2].value,
                        gak : query[3].value,
                    }),
                    
                    // 요청 성공 
                    success: function(res) {
                        if(res.status.includes('2')){
                            // 영웅 설정 종료
                            $('.hero-setting-container').fadeOut();

                            // 보유 영웅 리스트 다시 세팅
                            HavingHeroes.setter(res.data.having_heroes);
                            HavingHeroes.setter_id(res.data.having_heroes_id);

                            // 필터 다시 출력
                            hero_filter();

                            // 편성 UI 다시 표시
                            NowFormHeroes.addHeroesInForm();
                        } else{
                            // DB 오류
                            alert(res.message);
                        }
                    },
                    
                    error: function(xhr, status, error) {
                        // 오류 
                        alert(`오류 발생! 다시 시도하세요. ${status} - ${error}`);
                        console.error('Error:', status, error);
                    }
                });

        })

        $('.hero-setting-form' ).on('submit',function(e){    
            e.preventDefault();

        })
    })
        

    </script>

</body>
</html>